{% extends "../back.html" %}

{% block css %}
{{ super() }}
<style>
  html {
    overflow: hidden;
  }
</style>
{% endblock %}

{% block main %}
  <div class="layui-card myCard">
    <div class="layui-card-header">前台入学申请管理</div>
    <div class="layui-card-body">
      <div id="myTable"></div>
    </div>
  </div>
{% endblock %}

{% block script %}
{{ super() }}
<script>
  $(function () {
    newTable({
      btns: {
        items: [
          'setCols'
        ]
      },
      search: {
        'class': 'selects',
        labelWidth: '120',
        items: [
          {
            label: '学生姓名',
            elements: {
              eType: 'input',
              name: 'studentName'
            }
          },
          {
            label: '申请学校名称',
            elements: {
              eType: 'input',
              name: 'applySchoolName'
            }
          },
          // {
          //   label: '国家及地区',
          //   elements: {
          //     eType: 'input',
          //     name: 'countryName'
          //   }
          // },
          {
            label: '大陆省份',
            elements: {
              eType: 'input',
              name: 'provinceName'
            }
          },
          {
            label: '城市',
            elements: {
              eType: 'input',
              name: 'cityName'
            }
          },
          {
            label: '区县',
            elements: {
              eType: 'input',
              name: 'countyName'
            }
          },
          // {
          //   label: '详细地址',
          //   elements: {
          //     eType: 'input',
          //     name: 'applySchoolAreaDetail'
          //   }
          // },
          {
            label: '申请学段',
            elements: {
              eType: 'select',
              name: 'applyPeriod',
              option: [
                {value: 'all', label: '&nbsp;', selected: true},
                {% for i, j in StudentPeriod %}
                {value: '{{ j }}', label: '{{ j }}'},
                {% endfor %}
              ]
            }
          },
          {
            label: '申请原因',
            elements: {
              eType: 'input',
              name: 'info'
            }
          },
          {
            label: '复议理由',
            elements: {
              eType: 'input',
              name: 'reason'
            }
          },
          {
            label: '申请学校编号',
            elements: {
              eType: 'input',
              name: 'applySchoolAccount'
            }
          },
          {
            label: '学生账号',
            elements: {
              eType: 'input',
              name: 'studentAccount'
            }
          },
        ]
      },
      table: {
        tool: {
          items: [
            {% if curAdmin.isSuperUser or curAdmin.permissions.mem_sap_v %}
            {
              layEvent: 'verify',
              'class': 'layui-btn-primary',
              label: '处理',
              event: function (obj, config, render) {
                var index = layer.open({
                  type: 1,
                  title: '状态',
                  offset: '100px',
                  skin: 'layui-layer-rim',
                  area: ['550px', '200px'],
                  content: '<div id="toVerify"></div>'
                })
                newForm({
                  parent: '#toVerify',
                  form: {
                    submit: {
                      event: function (data) {
                        $('[lay-filter="myFormSubmit"]').attr('disabled', true)
                        $('[lay-filter="myFormSubmit"]').addClass('layui-btn-disabled')
                        ajax({
                          method: 'POST',
                          url: '/admin/member/sapply/verify',
                          data: JSON.stringify({statusRadio: data.field.statusRadio, data: [obj.data.id], reason: data.field.reason}),
                          success: function () {
                            $('[lay-filter="myFormSubmit"]').attr('disabled', false)
                            $('[lay-filter="myFormSubmit"]').removeClass('layui-btn-disabled')
                            layer.msg('处理成功', {time: 2000, icon:6})
                            render()
                            layer.close(index)
                          },
                          fail: function () {
                            $('[lay-filter="myFormSubmit"]').attr('disabled', false)
                            $('[lay-filter="myFormSubmit"]').removeClass('layui-btn-disabled')
                          },
                          error: function () {
                            $('[lay-filter="myFormSubmit"]').attr('disabled', false)
                            $('[lay-filter="myFormSubmit"]').removeClass('layui-btn-disabled')
                          }
                        })
                      }
                    },
                    val: {
                      statusRadio: 'true'
                    },
                    items: [
                      {
                        label: '处理',
                        elements: {
                          eType: 'radio',
                          name: 'statusRadio',
                          children: [
                            {title: '同意', value: 'true'},
                            {title: '驳回', value: 'false'},
                          ]
                        }
                      },
                      {
                        label: '复议理由',
                        elements: {
                          eType: 'input',
                          name: 'reason',
                          layVerify: 'rs',
                        }
                      },
                    ],
                    verify: {
                      rs: function (value) {
                        if (getFormData('[lay-filter=toVerify]').statusRadio === '{{ AidApplyStatus.revamp }}' && value === '') return '复议理由不能为空'
                      },
                    }
                  }
                })
              }
            }
            {% endif %}
          ]
        },
        templates: [
          {
            id: 'tStudentName',
            content: '[[ d.member.name ]]'
          },
          {
            id: 'tApplySchoolName',
            content: '[[ d.applySchool != null ? d.applySchool.member.name : \'\' ]]'
          },
          {
            id: 'tCountryName',
            content: '[[ d.applySchool != null ? d.applySchool.member.country.name : \'\' ]]'
          },
          {
            id: 'tProvinceName',
            content: '[[ d.applySchool != null && d.applySchool.member.county != null ? d.applySchool.member.county.city.province.name : \'\' ]]'
          },
          {
            id: 'tCityName',
            content: '[[ d.applySchool != null && d.applySchool.member.county != null ? d.applySchool.member.county.city.name : \'\' ]]'
          },
          {
            id: 'tCountyName',
            content: '[[ d.applySchool != null && d.applySchool.member.county != null ? d.applySchool.member.county.name : \'\' ]]'
          },
          {
            id: 'tApplySchoolAreaDetail',
            content: '[[ d.applySchool.member.tSchoolAreaDetail != null ? d.applySchool.member.tSchoolAreaDetail : \'\' ]]'
          },
          {
            id: 'tApplySchoolAccount',
            content: '[[ d.applySchool != null ? d.applySchool.member.account : \'\' ]]'
          },
          {
            id: 'tStudentAccount',
            content: '[[ d.member.account ]]'
          },
        ],
        config: {
          elem: '#sapply',
          url: '/admin/member/sapply/table',
          cols: [
            [
              {field: 'id', title: 'ID', align: 'center', show: false, sort: true, width: 100, fixed: 'left'},
              {field: 'studentName', title: '学生姓名', align: 'center', sort: true, minWidth: 140, fixed: 'left', templet: '#tStudentName'},
              {field: 'applySchoolName', title: '申请学校名称', align: 'center', sort: true, minWidth: 250, templet: '#tApplySchoolName'},
              // {field: 'countryName', title: '国家及地区', align: 'center', sort: true, minWidth: 150, templet: '#tCountryName'},
              {field: 'provinceName', title: '大陆省份', align: 'center', sort: true, minWidth: 150, templet: '#tProvinceName'},
              {field: 'cityName', title: '城市', align: 'center', sort: true, minWidth: 190, templet: '#tCityName'},
              {field: 'countyName', title: '区县', align: 'center', sort: true, minWidth: 250, templet: '#tCountyName'},
              // {field: 'applySchoolAreaDetail', title: '详细地址', align: 'center', sort: true, minWidth: 250, templet: '#tApplySchoolAreaDetail'},
              {field: 'applyPeriod', title: '申请学段', align: 'center', sort: true, width: 120},
              {field: 'info', title: '申请原因', align: 'center', sort: true, minWidth: 250},
              {field: 'reason', title: '复议理由', align: 'center', sort: true, minWidth: 150},
              {field: 'applySchoolAccount', title: '申请学校编号', align: 'center', sort: true, minWidth: 140, templet: '#tApplySchoolAccount'},
              {field: 'studentAccount', title: '学生账号', align: 'center', sort: true, minWidth: 140, templet: '#tStudentAccount'},
              {align: 'center', width:120, fixed: 'right', toolbar: '#operation'}
            ]
          ]
        }
      }
    })
  })
</script>
{% endblock %}
