{% extends "../back.html" %}

{% block css %}
{{ super() }}
{% endblock %}

{% block body %}
  <div class="layui-card myCard">
    <div class="layui-card-header">{{ member.name }}</div>
    <div class="layui-card-body layui-tab layui-tab-brief">
      <div id="myForm"></div>
    </div>
  </div>
{% endblock %}

{% block script %}
{{ super() }}
<script>
  $(function () {
    newForm({
      form: {
        labelWidth: '100',
        submit: {
          show: false
        },
        items: [
          {
            label: '用户名',
            elements: {
              eType: 'char',
              name: 'account',
              element: '<div class="layui-input-block" style="">{{ member.account }}</div>'
            }
          },
          {
            label: '用户类型',
            elements: {
              eType: 'char',
              name: 'type',
              element: '<div class="layui-input-block" style="">{{ member.type }}</div>'
            }
          },
          {
            label: '团体名称',
            elements: {
              eType: 'char',
              name: 'name',
              element: '<div class="layui-input-block" style="">{{ member.name }}</div>'
            }
          },
          {
            label: '联系手机',
            elements: {
              eType: 'char',
              name: 'phoneNumber',
              element: '<div class="layui-input-block" style="">{{ member.phoneNumber }}</div>'
            }
          },
          {
            label: 'Email',
            elements: {
              eType: 'char',
              name: 'email',
              element: '<div class="layui-input-block" style="">{{ member.email }}</div>'
            }
          },
          {
            label: '联系人微信号',
            elements: {
              eType: 'char',
              name: 'wechat',
              element: '<div class="layui-input-block" style="">{{ member.wechat }}</div>'
            }
          },
          {
            label: '联系人QQ',
            elements: {
              eType: 'char',
              name: 'qq',
              element: '<div class="layui-input-block" style="">{{ member.qq }}</div>'
            }
          },
          {
            label: '头像',
            elements: {
              eType: 'char',
              name: 'avatar',
              element: '<div class="layui-input-block" style=""><img src="{{ member.avatar }}" style="max-width: 300px; max-height: 300px;"></div>'
            }
          },
          {
            label: '简介',
            elements: {
              eType: 'char',
              name: 'intro',
              element: '<div class="layui-input-block" style=""><pre>' + decodeURIComponent('{{ member.intro }}') + '</pre></div>'
            }
          },
          {
            label: '国家及地区',
            elements: {
              eType: 'char',
              name: 'country',
              element: '<div class="layui-input-block" style="">{{ member.country.name }}</div>'
            }
          },
          {
            label: '地址',
            show: '{{ member.country.number }}' === '1' ? true : false,
            elements: {
              eType: 'char',
              name: 'county',
              element: '<div class="layui-input-block" style="">{{ member.county.city.province.name }} {{ member.county.city.name }} {{ member.county.name }}</div>'
            }
          },
          {
            label: '地区',
            show: '{{ member.country.number }}' !== '1' ? true : false,
            elements: {
              eType: 'char',
              name: 'areaDetail',
              element: '<div class="layui-input-block" style="">{{ member.areaDetail }}</div>'
            }
          },
        ]
      }
    })
  })
</script>
{% endblock %}
