{% extends "../back.html" %}

{% block css %}
{{ super() }}
<style>
  html {
    overflow: hidden;
  }
</style>
{% endblock %}

{% block main %}
  <div class="layui-card myCard">
    <div class="layui-card-header">故事类别管理</div>
    <div class="layui-card-body">
      <div id="myTable"></div>
    </div>
  </div>
{% endblock %}

{% block script %}
{{ super() }}
<script>
  $(function () {
    newTable({
      btns: {
        items: [
          {% if curAdmin.isSuperUser or curAdmin.permissions.sty_typ_a %}
          'new',
          {% endif %}
          {% if curAdmin.isSuperUser or curAdmin.permissions.sty_typ_d %}
          'dels',
          {% endif %}
          'setCols'
        ]
      },
      search: {
        'class': 'selects',
        labelWidth: '100',
        items: [
          {
            label: '类别名',
            elements: {
              eType: 'input',
              name: 'name'
            }
          },
          {
            label: '创建时间',
            elements: {
              eType: 'date',
              name: 'createdTime',
              range: true
            }
          }
        ]
      },
      table: {
        tool: {
          items: [
            {% if curAdmin.isSuperUser or curAdmin.permissions.sty_typ_g %}
            'info',
            {% endif %}
            {% if curAdmin.isSuperUser or curAdmin.permissions.sty_typ_u %}
            'edit',
            {% endif %}
            {% if curAdmin.isSuperUser or curAdmin.permissions.sty_typ_d %}
            'del'
            {% endif %}
          ]
        },
        templates: [
          {
            id: 'tCreatedTime',
            content: '[[ dateFormat(d.createdTime, \'YYYY-MM-DD HH:mm:ss\') ]]'
          }
        ],
        config: {
          elem: '#storyType',
          url: '/admin/story/type/table',
          cols: [
            [
              {field: 'id', title: 'ID', align: 'center', show: false, sort: true, width: 100, fixed: 'left'},
              {field: 'name', title: '类别名', align: 'center', sort: true, minWidth: 200},
              {field: 'createdTime', title: '创建时间', align: 'center', sort: true, minWidth: 180, templet: '#tCreatedTime'},
              {align: 'center', width: 150, fixed: 'right', toolbar: '#operation'}
            ]
          ]
        }
      }
    })
  })
</script>
{% endblock %}
