{% extends "../back.html" %}

{% block css %}
{{ super() }}
<style>
  html {
    overflow: hidden;
  }
</style>
{% endblock %}

{% block body %}
  <div class="layui-card myCard">
    <div class="layui-card-header">资助明细</div>
    <div class="layui-card-body">
      <div id="myTable"></div>
    </div>
  </div>
{% endblock %}

{% block script %}
{{ super() }}
<script>
  $(function () {
    newTable({
      btns: {
        items: [
          {% if curAdmin.isSuperUser or curAdmin.permissions.aid_dtl_a %}
          {
            layEvent: 'new',
            'class': 'layui-btn-normal{% if isEnd %} none{% endif %}',
            event: function (obj, config, render) {
              if ('{{ aidStatus }}' !== '{{ AidStatus.ok }}' && '{{ aidStatus }}' !== '{{ AidStatus.ok2 }}') {
                layer.msg('{{ aidStatus }}' + '状态不能添加资助明细', {time: 2000, icon:5, anim: 6})
              }
              var path = config.url.split('?')[0]
              path = (path[path.length - 1] === '/' ? path.slice(0, path.length - 6) : (path.slice(0, path.length - 5)))
              // window.location.href = path + 'new'
              window.tableRender = render
              layer.open({
                type: 2,
                title: '新建',
                shade: 0.8,
                area: ['90%', '90%'],
                content: path + 'new?aidId={{ aidId }}'
              })
            }
          },
          {% endif %}
          {% if curAdmin.isSuperUser or curAdmin.permissions.aid_dtl_d %}
          'dels',
          {% endif %}
          'setCols',
        ]
      },
      search: {
        'class': 'selects',
        labelWidth: '100',
        submit: {
          event: function (data, config, render) {
            var queryObj = {semester: ''}
            if (data.field.semesterDate !== '') {
              var semesterArr = data.field.semesterDate.split('___')
              semesterArr[0] = new Date(semesterArr[0] * 1)
              semesterArr[1] = new Date(semesterArr[1] * 1)
              queryObj.semester = ((semesterArr[0].getMonth() ? semesterArr[0].getFullYear() : (semesterArr[0].getFullYear() - 1)) * 2 + (semesterArr[0].getMonth() >= 1 && semesterArr[0].getMonth() <= 6 ? 0 : 1)) + '*' + ((semesterArr[1].getMonth() ? semesterArr[1].getFullYear() : (semesterArr[1].getFullYear() - 1)) * 2 + (semesterArr[1].getMonth() >= 1 && semesterArr[1].getMonth() <= 6 ? 0 : 1))
            }
            config.url = setQuery(config.url, queryObj)
            render(config)
          }
        },
        items: [
          {
            label: '资助学期',
            elements: {
              eType: 'date',
              name: 'semesterDate',
              type: 'month',
              range: true,
            }
          },
          {
            label: '资助单号',
            elements: {
              eType: 'input',
              name: 'aidNumber'
            }
          },
          {
            label: '资助人账号',
            elements: {
              eType: 'input',
              name: 'memberAccount'
            }
          },
          {
            label: '资助人姓名',
            elements: {
              eType: 'input',
              name: 'memberName'
            }
          },
          {
            label: '受助人账号',
            elements: {
              eType: 'input',
              name: 'aidApplyBankNumber'
            }
          },
          {
            label: '受助人账号',
            elements: {
              eType: 'input',
              name: 'aidApplyAccount'
            }
          },
          {
            label: '受助人姓名',
            elements: {
              eType: 'input',
              name: 'aidApplyName'
            }
          },
          {
            label: '学校编号',
            elements: {
              eType: 'input',
              name: 'aidApplySchoolAccount'
            }
          },
          {
            label: '学校名称',
            elements: {
              eType: 'input',
              name: 'aidApplySchoolName'
            }
          },
          {
            label: '资助金额',
            elements: {
              eType: 'between',
              name: 'money'
            }
          },
          {
            label: '寄款时间',
            elements: {
              eType: 'date',
              name: 'payDate',
              range: true
            }
          },
          {
            label: '提交时间',
            elements: {
              eType: 'date',
              name: 'createdTime',
              range: true
            }
          },
        ]
      },
      table: {
        tool: {
          items: [
            {
              layEvent: 'message',
              label: '留言',
              event: function (obj, config, render) {
                layer.open({
                  type: 2,
                  title: '留言',
                  shade: 0.8,
                  area: ['90%', '90%'],
                  content: '/admin/aid/detail/' + obj.data.id + '/message'
                })
              }
            },
            {% if curAdmin.isSuperUser or curAdmin.permissions.aid_dtl_g %}
            'info',
            {% endif %}
            {% if curAdmin.isSuperUser or curAdmin.permissions.aid_dtl_u %}
            'edit',
            {% endif %}
            {% if curAdmin.isSuperUser or curAdmin.permissions.aid_dtl_d %}
            'del',
            {% endif %}
          ]
        },
        templates: [
          {
            id: 'tSemester',
            content: '[[ semester(d.semester) ]]'
          },
          {
            id: 'tAidNumber',
            content: '[[ d.aid.number ]]'
          },
          {
            id: 'tMemberAccount',
            content: '[[ d.aid.member.account ]]'
          },
          {
            id: 'tMemberName',
            content: '[[ d.aid.member.name ]]'
          },
          {
            id: 'tAidApplyBankNumber',
            content: '[[ d.aid.aidApply.bankNumber ]]'
          },
          {
            id: 'tAidApplyAccount',
            content: '[[ d.aid.aidApply.account ]]'
          },
          {
            id: 'tAidApplyName',
            content: '[[ d.aid.aidApply.name ]]'
          },
          {
            id: 'tAidApplySchoolAccount',
            content: '[[ d.aid.aidApply.schoolAccount ]]'
          },
          {
            id: 'tAidApplySchoolName',
            content: '[[ d.aid.aidApply.schoolName ]]'
          },
          {
            id: 'tPayDate',
            content: '[[ dateFormat(d.payDate, \'YYYY-MM-DD\') ]]'
          },
          {
            id: 'tCreatedTime',
            content: '[[ dateFormat(d.createdTime, \'YYYY-MM-DD HH:mm:ss\') ]]'
          },
        ],
        config: {
          elem: '#aidDetail',
          url: '/admin/aid/detail/table?aidId={{ aidId }}',
          cols: [
            [
              {field: 'id', title: 'ID', align: 'center', show: false, sort: true, width: 100, fixed: 'left'},
              {field: 'semester', title: '资助学期', align: 'center', sort: true, minWidth: 180, templet: '#tSemester', fixed: 'left'},
              {field: 'aidNumber', title: '资助单号', align: 'center', sort: true, minWidth: 160, templet: '#tAidNumber'},
              {field: 'memberAccount', title: '资助人账号', align: 'center', sort: true, minWidth: 140, templet: '#tMemberAccount'},
              {field: 'memberName', title: '资助人姓名', align: 'center', sort: true, minWidth: 140, templet: '#tMemberName'},
              {field: 'aidApplyBankNumber', title: '受助人账号', align: 'center', sort: true, minWidth: 160, templet: '#tAidApplyBankNumber'},
              {field: 'aidApplyAccount', title: '受助人账号', align: 'center', sort: true, minWidth: 140, templet: '#tAidApplyAccount'},
              {field: 'aidApplyName', title: '受助人姓名', align: 'center', sort: true, minWidth: 140, templet: '#tAidApplyName'},
              {field: 'aidApplySchoolAccount', title: '学校编号', align: 'center', sort: true, minWidth: 140, templet: '#tAidApplySchoolAccount'},
              {field: 'aidApplySchoolName', title: '学校名称', align: 'center', sort: true, minWidth: 250, templet: '#tAidApplySchoolName'},
              {field: 'money', title: '资助金额', align: 'center', sort: true, minWidth: 100},
              {field: 'payDate', title: '寄款时间', align: 'center', sort: true, minWidth: 120, templet: '#tPayDate'},
              {field: 'createdTime', title: '提交时间', align: 'center', sort: true, minWidth: 180, templet: '#tCreatedTime'},
              {align: 'center', width: 180, fixed: 'right', toolbar: '#operation'}
            ]
          ]
        }
      }
    })
  })
</script>
{% endblock %}
