{% extends "../back.html" %}

{% block css %}
{{ super() }}
{% endblock %}

{% block body %}
  <div class="layui-card myCard">
    <div class="layui-card-header">{{ aidApply.name }}资助申请单</div>
    <div class="layui-card-body layui-tab layui-tab-brief">
      <div id="myForm"></div>
    </div>
  </div>
{% endblock %}

{% block script %}
{{ super() }}
<script>
  $(function () {
    newForm({
      form: {
        labelWidth: '120',
        submit: {
          event: function (data) {
            $('[lay-filter="myFormSubmit"]').attr('disabled', true)
            $('[lay-filter="myFormSubmit"]').addClass('layui-btn-disabled')
            ajax({
              method: 'POST',
              url: '/admin/aid/apply/{{ aidApply.id }}',
              data: JSON.stringify(data.field),
              success: function () {
                layer.msg('修改成功', {time: 2000, icon:6})
                parent.tableRender()
                window.setTimeout(function () {parent.layer.close(parent.layer.getFrameIndex(window.name))}, 2000)
                // window.setTimeout(function () {window.location.href = '/admin/aid/apply'}, 2000)
              },
              fail: function () {
                $('[lay-filter="myFormSubmit"]').attr('disabled', false)
                $('[lay-filter="myFormSubmit"]').removeClass('layui-btn-disabled')
              },
              error: function () {
                $('[lay-filter="myFormSubmit"]').attr('disabled', false)
                $('[lay-filter="myFormSubmit"]').removeClass('layui-btn-disabled')
              }
            })
          }
        },
        val: {
          'schoolId': '{{ aidApply.student.school.id }}',
          // 'number': '{{ aidApply.number }}',
          'status': '{{ aidApply.status }}',
          'familyInfo': decodeURIComponent('{{ aidApply.familyInfo }}'),
          {% for i,j in Poverty %}
          '{{ j }}': {{ aidApply.poverty.indexOf(j) !== -1 }},
          {% endfor %}
          'poverty': '{{ aidApply.poverty }}',
          'money': '{{ aidApply.money }}',
          'use': '{{ aidApply.use }}',
          'bank': '{{ aidApply.bank }}',
          'bankUser': '{{ aidApply.bankUser }}',
          'bankNumber': '{{ aidApply.bankNumber }}',
          'reason': '{{ aidApply.reason }}'
        },
        items: [
          // {
          //   label: '申请单号',
          //   elements: {
          //     eType: 'input',
          //     name: 'number',
          //     layVerify: 'required'
          //   }
          // },
          {
            label: '状态',
            elements: {
              eType: 'select',
              name: 'status',
              layVerify: 'select',
              option: [
                {value: 'null', label: '请选择'},
                {% for i, j in AidApplyStatus %}
                {value: '{{ j }}', label: '{{ j }}'},
                {% endfor %}
              ]
            }
          },
          {
            label: '申请金额',
            elements: {
              eType: 'input',
              name: 'money',
              type: 'number',
              layVerify: 'required'
            }
          },
          {
            label: '用途',
            elements: {
              eType: 'input',
              name: 'use',
              display: 'block',
              layVerify: 'required'
            }
          },
          {
            label: '开户行',
            elements: {
              eType: 'input',
              name: 'bank',
              layVerify: 'required'
            }
          },
          {
            label: '开户人',
            elements: {
              eType: 'input',
              name: 'bankUser',
              layVerify: 'required'
            }
          },
          {
            label: '开户账号',
            elements: {
              eType: 'input',
              name: 'bankNumber',
              layVerify: 'required'
            }
          },
          {
            label: '家庭情况简述',
            elements: {
              eType: 'textarea',
              name: 'familyInfo',
              display: 'block',
              layVerify: 'required'
            }
          },
          {
            label: '贫困状态',
            elements: {
              eType: 'checkbox',
              name: 'poverty',
              display: 'block',
              children: [
                {% for i,j in Poverty %}
                {title: '{{ j }}', name: '{{ j }}'}{% if not loop.last %},{% endif %}
                {% endfor %}
              ]
            }
          },
          {
            label: '复议理由',
            elements: {
              eType: 'input',
              name: 'reason',
              display: 'block'
            }
          }
        ],
        verify: {
          select: function (value) {
            if (value === '' || value === 'null') return '必填项不能为空'
          },
        }
      }
    })
  })
</script>
{% endblock %}
