{% extends "../back.html" %}

{% block css %}
{{ super() }}
{% endblock %}

{% block body %}
  <div class="layui-card myCard">
    <div class="layui-card-header">报名表审核</div>
    <div class="layui-card-body layui-tab layui-tab-brief">
      <div id="myForm"></div>
      {% if matchApply.status == MatchApplyStatusObj.wait %}
      <div class="layui-btn-container buttons">
        <button class="layui-btn layui-btn-normal" id="ok">通过</button>
        <button class="layui-btn layui-btn-danger" id="no">复议</button>
      </div>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block script %}
{{ super() }}
<script>
  $(function () {
    newForm({
      form: {
        labelWidth: '100',
        submit: {
          show: false
        },
        items: [
          {
            label: '用户账号',
            elements: {
              eType: 'char',
              name: 'account',
              element: '<div class="layui-input-block" style="">{{ matchApply.student.member.account }}</div>'
            }
          },
          {
            label: '真实姓名',
            elements: {
              eType: 'char',
              name: 'name',
              element: '<div class="layui-input-block" style="">{{ matchApply.student.member.name }}</div>'
            }
          },
          {
            label: '身份证号',
            elements: {
              eType: 'char',
              name: 'idCard',
              element: '<div class="layui-input-block" style="">{{ matchApply.student.member.idCard }}</div>'
            }
          },
          {
            label: '照片',
            elements: {
              eType: 'char',
              name: 'photo',
              element: '<div class="layui-input-block" style=""><img class="myImg" src="{{ matchApply.photo }}"></div>'
            }
          },
          {
            label: '地区',
            elements: {
              eType: 'char',
              name: 'place',
              element: '<div class="layui-input-block" style="">{{ matchApply.school.member.county.city.province.name }} {{ matchApply.school.member.county.city.name }} {{ matchApply.school.member.county.name }}</div>'
            }
          },
          {
            label: '学校',
            elements: {
              eType: 'char',
              name: 'school',
              element: '<div class="layui-input-block" style="">{{ matchApply.school.member.name }}</div>'
            }
          },
          {
            label: '年级',
            elements: {
              eType: 'char',
              name: 'grade',
              element: '<div class="layui-input-block" style="">{{ matchApply.grade }}</div>'
            }
          },
          {
            label: '指导老师',
            elements: {
              eType: 'char',
              name: 'teacher',
              element: '<div class="layui-input-block" style="">{{ matchApply.teacher.member.name }}</div>'
            }
          },
          {
            label: '奖品邮寄地址',
            elements: {
              eType: 'char',
              name: 'address',
              element: '<div class="layui-input-block" style="">{{ matchApply.address }}</div>'
            }
          },
          {
            label: '学段',
            elements: {
              eType: 'char',
              name: 'period',
              element: '<div class="layui-input-block" style="">{{ matchApply.period }}</div>'
            }
          },
          {
            label: '状态',
            elements: {
              eType: 'char',
              name: 'status',
              element: '<div class="layui-input-block" style="">{{ matchApply.status }}</div>'
            }
          },
        ]
      }
    })
    $('#ok').on('click', function () {
      $('button').attr('disabled', true)
      $('button').addClass('layui-btn-disabled')
      ajax({
        method: 'POST',
        url: '/admin/match/apply/{{ matchApply.id }}/verify',
        data: JSON.stringify({pass: true}),
        success: function () {
          layer.msg('成功', {time: 2000, icon:6})
          parent.tableRender()
          window.setTimeout(function () {parent.layer.close(parent.layer.getFrameIndex(window.name))}, 2000)
          // window.setTimeout(function () {window.close()}, 2000)
          // window.setTimeout(function () {window.location.href = '/admin/match/apply'}, 2000)
        },
        fail: function () {
          $('button').attr('disabled', false)
          $('button').removeClass('layui-btn-disabled')
        },
        error: function () {
          $('button').attr('disabled', false)
          $('button').removeClass('layui-btn-disabled')
        }
      })
    })
    $('#no').on('click', function () {
      $('button').attr('disabled', true)
      $('button').addClass('layui-btn-disabled')
      var str = '<form class="layui-form" id="back" lay-filter="back" action="" style="margin: 20px;"><div class="layui-form-item"><label class="layui-form-label">复议理由:</label><div class="layui-input-inline"><input type="text" name="reason" lay-verify="required" autocomplete="off" class="layui-input" value="{{ matchApply.reason }}"></div></div><div class="layui-form-item"><label class="layui-form-label"></label><button class="layui-btn layui-btn-normal" id="bk" lay-filter="bk" lay-submit>提交</button><button class="layui-btn layui-btn-primary" id="cancel">取消</button></div></form>'
      layer.closeAll()
      var index = layer.open({
        type: 1,
        title: '驳回',
        offset: '100px',
        skin: 'layui-layer-rim',
        area: ['360px', '240px'],
        content: str,
        cancel: function(index, layero){
          $('button').attr('disabled', false)
          $('button').removeClass('layui-btn-disabled')
        }
      })
      form.render(null, 'back')
      $('[name=reason]').focus()
      $('#cancel').on('click', function () {
        $('button').attr('disabled', false)
        $('button').removeClass('layui-btn-disabled')
        layer.close(index);
        return false
      })
      $('[name=reason]').focus()
      $('[lay-filter=back]').submit(function (e) {
        e.preventDefault()
        $('[lay-filter=bk]').click()
      })
      form.on('submit(bk)', function (data) {
        ajax({
          method: 'POST',
          url: '/admin/match/apply/{{ matchApply.id }}/verify',
          data: JSON.stringify(data.field),
          success: function () {
            layer.msg('驳回成功', {time: 2000, icon:6})
            parent.tableRender()
            window.setTimeout(function () {parent.layer.close(parent.layer.getFrameIndex(window.name))}, 2000)
            // window.setTimeout(function () {window.close()}, 2000)
            // window.setTimeout(function () {window.location.href = '/admin/match/apply'}, 2000)
          },
          fail: function () {
            $('button').attr('disabled', false)
            $('button').removeClass('layui-btn-disabled')
          },
          error: function () {
            $('button').attr('disabled', false)
            $('button').removeClass('layui-btn-disabled')
          }
        })
        return false
      })
    })
  })
</script>
{% endblock %}
