{% extends "../back.html" %}

{% block css %}
{{ super() }}
{% endblock %}

{% block body %}
  <div class="layui-card myCard">
    <div class="layui-card-header">{{ country.name }}</div>
    <div class="layui-card-body layui-tab layui-tab-brief">
      <div id="myForm"></div>
    </div>
  </div>
{% endblock %}

{% block script %}
{{ super() }}
<script>
  $(function () {
    newForm({
      form: {
        labelWidth: '100',
        submit: {
          event: function (data) {
            $('[lay-filter="myFormSubmit"]').attr('disabled', true)
            $('[lay-filter="myFormSubmit"]').addClass('layui-btn-disabled')
            data.field.intro = encodeURI(data.field.intro)
            ajax({
              method: 'POST',
              url: '/admin/area/country/new',
              data: JSON.stringify(data.field),
              success: function () {
                layer.msg('新建成功', {time: 2000, icon:6})
                parent.tableRender()
                window.setTimeout(function () {parent.layer.close(parent.layer.getFrameIndex(window.name))}, 2000)
                // window.setTimeout(function () {window.location.href = '/admin/area/country'}, 2000)
              },
              fail: function () {
                $('[lay-filter="myFormSubmit"]').attr('disabled', false)
                $('[lay-filter="myFormSubmit"]').removeClass('layui-btn-disabled')
              },
              error: function () {
                $('[lay-filter="myFormSubmit"]').attr('disabled', false)
                $('[lay-filter="myFormSubmit"]').removeClass('layui-btn-disabled')
              }
            })
          }
        },
        items: [
          {
            label: '国家及地区名',
            elements: {
              eType: 'input',
              name: 'name',
              layVerify: 'required'
            }
          },
          {
            label: '国家及地区英文名',
            elements: {
              eType: 'input',
              name: 'nameE',
              layVerify: 'required'
            }
          },
          {
            label: '国家及地区编号',
            elements: {
              eType: 'input',
              name: 'number',
              layVerify: 'required|number'
            }
          }
        ],
        verify: {
          number: function (value) {
            if (!(/^\d+$/.test(value))) return '必须为数字'
          }
        }
      }
    })
  })
</script>
{% endblock %}
