{% extends "../back.html" %}

{% block css %}
{{ super() }}
{% endblock %}

{% block body %}
  <div class="layui-card myCard">
    <div class="layui-card-header">{{ province.name }}</div>
    <div class="layui-card-body layui-tab layui-tab-brief">
      <div id="myForm"></div>
    </div>
  </div>
{% endblock %}

{% block script %}
{{ super() }}
<script>
  $(function () {
    newForm({
      form: {
        labelWidth: '100',
        submit: {
          show: false
        },
        items: [
          {
            label: '大陆省份名',
            elements: {
              eType: 'char',
              name: 'name',
              element: '<div class="layui-input-block" style="">{{ province.name }}</div>'
            }
          },
          {
            label: '大陆省份编号',
            elements: {
              eType: 'char',
              name: 'number',
              element: '<div class="layui-input-block" style="">{{ province.number }}</div>'
            }
          }
        ]
      }
    })
  })
</script>
{% endblock %}
