{% extends "../layout/layout-member-center.html" %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="/static/css/website/mytable.css">
{% endblock %}

{% block member_center_main %}
<!-- <div id="table-whPerson"></div> -->
<div class="layui-card myCard">
  <div class="layui-card-header">爱心人士</div>
  <div class="layui-card-body">
    <div id="myTable"></div>
  </div>
</div>
{% endblock %}

{% block script %}
{{ super() }}
<script src="/static/js/mytable.js"></script>
<script>
  // $(function () {
  //   var table = new MyTable({
  //     el: '#table-whPerson',
  //     url: '/member-center/management/whPerson/table',
  //     limit: 10,
  //     cols: [
  //       {
  //         title: 'id',
  //         html: function(member) {
  //           return member.id
  //         }
  //       },
  //       {
  //         title: '昵称',
  //         html: function(member) {
  //           return '<a href="/member/' + member.id + '">' + member.nickName + '</a>'
  //         }
  //       }
  //     ]
  //   })

  //   table.fetch()

  // })
  $(function () {
    newTable({
      btns: {
        items: [
          // 'setCols'
        ]
      },
      search: {
        'class': 'selects',
        labelWidth: '120',
        submit: {
          'class': 'layui-btn greenBtn'
        },
        items: [
          // {
          //   label: '爱心人士账号',
          //   elements: {
          //     eType: 'input',
          //     name: 'account'
          //   }
          // },
          {
            label: '爱心人士姓名',
            elements: {
              eType: 'input',
              name: 'name'
            }
          },
          {
            label: '爱心人士昵称',
            elements: {
              eType: 'input',
              name: 'nickName'
            }
          },
          // {
          //   label: '身份证号',
          //   elements: {
          //     eType: 'input',
          //     name: 'idCard'
          //   }
          // },
          {
            label: '联系手机',
            elements: {
              eType: 'input',
              name: 'phoneNumber'
            }
          },
          {
            label: 'Email',
            elements: {
              eType: 'input',
              name: 'email'
            }
          },
        ]
      },
      table: {
        checkboxType: 'none',
        // tool: {
        //   items: [
        //   ]
        // },
        templates: [
          {
            id: 'tNickName',
            content: '<a href="/member/[[ d.id ]]" target="_blank">[[ d.nickName ]]</a>'
          },
          {
            id: 'tCountryName',
            content: '[[ d.country.name ]]'
          },
          {
            id: 'tProvinceName',
            content: '[[ d.county != null ? d.county.city.province.name : \'\' ]]'
          },
          {
            id: 'tAvatar',
            content: '[[# if (d.avatar) { ]]<a href="[[ d.avatar ]]" style="cursor: pointer;" target="_blank"><img class="tableImg" src="[[ d.avatar ]]"></a>[[# } ]]'
          },
          {
            id: 'tIsComplemented',
            content: '[[# if (d.isComplemented) { ]]是[[# } else { ]]否[[# } ]]'
          },
          {
            id: 'tCreatedTime',
            content: '[[ dateFormat(d.createdTime, \'YYYY-MM-DD HH:mm:ss\') ]]'
          },
        ],
        config: {
          elem: '#whPerson',
          url: '/member-center/management/whPerson/table',
          cols: [
            [
              {field: 'id', title: 'ID', align: 'center', show: false, sort: true, width: 100},
              {field: 'name', title: '用户姓名', align: 'center', sort: true, minWidth: 140},
              // {field: 'account', title: '用户账号', align: 'center', sort: true, minWidth: 140},
              {field: 'nickName', title: '用户昵称', align: 'center', sort: true, minWidth: 140, templet: '#tNickName'},
              // {field: 'whGroupName', title: '团体名称', align: 'center', sort: true, minWidth: 140, templet: '#tWhGroupName'},
              {field: 'phoneNumber', title: '联系手机', align: 'center', sort: true, width: 140},
              {field: 'email', title: 'Email', align: 'center', sort: true, minWidth: 180},
              {field: 'createdTime', title: '注册时间', align: 'center', sort: true, width: 180, templet: '#tCreatedTime'},
              {field: 'countryName', title: '国家及地区', align: 'center', sort: true, minWidth: 150, templet: '#tCountryName'},
              {field: 'provinceName', title: '大陆省份', align: 'center', sort: true, minWidth: 150, templet: '#tProvinceName'},
              {field: 'wechat', title: '微信号', align: 'center', sort: true, minWidth: 140},
              // {field: 'qq', title: 'QQ', align: 'center', sort: true, minWidth: 140},
              {field: 'avatar', title: '头像', align: 'center', sort: true, width: 80, templet: '#tAvatar'},
              {field: 'gender', title: '性别', align: 'center', sort: true, width: 80},
              // {field: 'whGroupAccount', title: '团体账号', align: 'center', show: false, sort: true, minWidth: 140, templet: '#tWhGroupAccount'},
              // {field: 'idCard', title: '身份证号', align: 'center', show: false, sort: true, width: 180},
              // {field: 'nation', title: '民族', align: 'center', show: false, sort: true, width: 80},
              // {field: 'isComplemented', title: '完善信息', align: 'center', show: false, sort: true, width: 100, templet: '#tIsComplemented'},
              // {align: 'center', width: 150, toolbar: '#operation'}
            ]
          ]
        }
      }
    })
  })
</script>
{% endblock %}
