{% extends "../layout/layout-member-center.html" %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="/static/css/website/mytable.css">
{% endblock %}

{% block member_center_main %}
<!-- <div id="table-student"></div> -->
  <div class="layui-card myCard">
    <div class="layui-card-header">学生</div>
    <div class="layui-card-body">
      <div id="myTable"></div>
    </div>
  </div>
{% endblock %}


{% block script %}
{{ super() }}
<script src="/static/js/mytable.js"></script>
<script>
  // $(function () {
  //   var table = new MyTable({
  //     el: '#table-student',
  //     url: '/member-center/management/student/table',
  //     limit: 10,
  //     cols: [
  //       {
  //         title: 'id',
  //         html: function(member) {
  //           return member.id
  //         }
  //       },
  //       {
  //         title: '昵称',
  //         html: function(member) {
  //           return '<a href="/member/' + member.id + '">' + member.nickName + '</a>'
  //         }
  //       },
  //       {
  //         title: '操作',
  //         html: function(member) {
  //           var html = ''
  //           if (member.isComplemented) {
  //             html += '<a href="javascript:;" class="btn-edit">修改信息</a> '
  //           } else {
  //             html += '<a href="javascript:;" class="btn-completion">完成信息</a> '
  //           }
  //           html += '<a href="javascript:;" class="btn-grade">成绩</a> '
  //           html += '<a href="javascript:;" class="btn-family">家庭</a> '
  //           return html
  //         }
  //       }
  //     ],
  //     onFetch: bindHandlers
  //   })

  //   table.fetch()

  //   function bindHandlers(rowDatas) {
  //     $('.btn-completion').on('click', function() {
  //       var id = $(this).parents('tr').data('id')
  //       layui.layer.open({
  //         type: 2,
  //         title: '学生完成信息',
  //         area: ['50%', '80%'],
  //         content: '/member-center/management/student/'+ id +'/completion'
  //       })
  //     })
  //     $('.btn-edit').on('click', function() {
  //       var id = $(this).parents('tr').data('id')
  //       layui.layer.open({
  //         type: 2,
  //         title: '学生修改信息',
  //         area: ['50%', '80%'],
  //         content: '/member-center/management/student/'+ id +'/edit'
  //       })
  //     })
  //     $('.btn-grade').on('click', function() {
  //       var id = $(this).parents('tr').data('id')
  //       layui.layer.open({
  //         type: 2,
  //         title: '学生成绩',
  //         area: ['80%', '80%'],
  //         content: '/member-center/management/student/'+ id +'/score'
  //       })
  //     })
  //     $('.btn-family').on('click', function() {
  //       var id = $(this).parents('tr').data('id')
  //       layui.layer.open({
  //         type: 2,
  //         title: '学生家庭',
  //         area: ['80%', '80%'],
  //         content: '/member-center/management/student/'+ id +'/family'
  //       })
  //     })
  //     $('.btn-editaaa').on('click', function() {
  //       var $btn = $(this)
  //       $btn.attr('disabled', true)
  //       var id = $(this).parents('tr').data('id')
  //       ajax({
  //         method: 'POST',
  //         url: '',
  //         data: null,
  //         success: function () {
  //           $btn.attr('disabled', false)
  //           layui.layer.msg('操作成功',{ time: 1000 })
  //         },
  //         fail: function () {
  //           $btn.attr('disabled', false)
  //         }
  //       })
  //     })
  //   }

  // })
  $(function () {
    newTable({
      btns: {
        items: [
          // 'setCols'
        ]
      },
      search: {
        'class': 'selects',
        labelWidth: '100',
        submit: {
          'class': 'layui-btn greenBtn'
        },
        items: [
          {
            label: '学生账号',
            elements: {
              eType: 'input',
              name: 'account'
            }
          },
          {
            label: '学生姓名',
            elements: {
              eType: 'input',
              name: 'name'
            }
          },
          // {
          //   label: '学生昵称',
          //   elements: {
          //     eType: 'input',
          //     name: 'nickName'
          //   }
          // },
          {
            label: '学生年级',
            elements: {
              eType: 'select',
              name: 'studentGrade',
              option: [
                {value: 'all', label: '&nbsp;', selected: true},
                {value: '1', label: '1'},
                {value: '2', label: '2'},
                {value: '3', label: '3'},
                {value: '4', label: '4'},
                {value: '5', label: '5'},
                {value: '6', label: '6'},
              ]
            }
          },
          // {
          //   label: '身份证号',
          //   elements: {
          //     eType: 'input',
          //     name: 'idCard'
          //   }
          // },
          // {
          //   label: '联系手机',
          //   elements: {
          //     eType: 'input',
          //     name: 'phoneNumber'
          //   }
          // },
          // {
          //   label: '学段',
          //   elements: {
          //     eType: 'select',
          //     name: 'studentPeriod',
          //     option: [
          //       {value: 'all', label: '&nbsp;', selected: true},
          //       {% for i, j in StudentPeriod %}
          //       {value: '{{ j }}', label: '{{ j }}'},
          //       {% endfor %}
          //     ]
          //   }
          // },
        ]
      },
      table: {
        checkboxType: 'none',
        tool: {
          items: [
            {
              layEvent: 'completion',
              'class': 'layui-btn-primary [[ d.isComplemented ? \'none\' : \'\' ]]',
              label: '完善',
              event: function (obj, config, render) {
                // window.location.href = '/admin/member/student/' + obj.data.student.id + '/family'
                window.tableRender = render
                layer.open({
                  type: 2,
                  title: '完善',
                  shade: 0.8,
                  area: ['90%', '90%'],
                  content: '/member-center/management/student/'+ obj.data.id +'/completion'
                })
              }
            },
            {
              layEvent: 'edit',
              'class': 'layui-btn-primary [[ d.isComplemented ? \'\' : \'none\' ]]',
              label: '修改',
              event: function (obj, config, render) {
                // window.location.href = '/admin/member/student/' + obj.data.student.id + '/family'
                window.tableRender = render
                layer.open({
                  type: 2,
                  title: '修改',
                  shade: 0.8,
                  area: ['90%', '90%'],
                  content: '/member-center/management/student/'+ obj.data.id +'/edit'
                })
              }
            },
            {
              layEvent: 'family',
              label: '家庭',
              event: function (obj, config, render) {
                // window.location.href = '/admin/member/student/' + obj.data.student.id + '/family'
                window.tableRender = render
                layer.open({
                  type: 2,
                  title: '家庭',
                  shade: 0.8,
                  area: ['90%', '90%'],
                  content: '/member-center/management/student/'+ obj.data.id +'/family'
                })
              }
            },
            {
              layEvent: 'score',
              label: '成绩',
              event: function (obj, config, render) {
                // window.location.href = '/admin/member/student/' + obj.data.student.id + '/score'
                window.tableRender = render
                layer.open({
                  type: 2,
                  title: '成绩',
                  shade: 0.8,
                  area: ['90%', '90%'],
                  content: '/member-center/management/student/'+ obj.data.id +'/score'
                })
              }
            },
          ]
        },
        templates: [
          {
            id: 'tNickName',
            content: '<a href="/member/[[ d.id ]]" target="_blank">[[ d.nickName ]]</a>'
          },
          {
            id: 'tSchoolVerifyIn',
            content: '[[ d.student.school != null ? (d.student.school.verify === \'{{ VerifyStatus.ok }}\' ? \'是\' : \'否\') : \'\' ]]'
          },
          {
            id: 'tSchoolAccount',
            content: '[[ d.student.school != null ? d.student.school.member.account : \'\' ]]'
          },
          {
            id: 'tSchoolName',
            content: '[[ d.student.school != null ? d.student.school.member.name : \'\' ]]'
          },
          {
            id: 'tAge',
            content: '[[ d.idCard != null ? getAgeByIdCard(d.idCard) : \'\' ]]'
          },
          {
            id: 'tProvinceName',
            content: '[[ d.county.city.province.name ]]'
          },
          {
            id: 'tStudentPeriod',
            content: '[[#  if(d.student.period === \'{{ StudentPeriod.XiaoXue }}\'){ ]]<span class="layui-badge layui-bg-orange">小</span>[[# } else if(d.student.period === \'{{ StudentPeriod.ChuZhong }}\'){ ]]<span class="layui-badge layui-bg-blue">初</span>[[#  } else if(d.student.period === \'{{ StudentPeriod.GaoZhong }}\'){ ]]<span class="layui-badge layui-bg-red">高</span>[[#  } else { ]]<span class="layui-badge layui-bg-gray">离</span>[[#  } ]]'
          },
          {
            id: 'tAvatar',
            content: '[[# if (d.avatar) { ]]<a href="[[ d.avatar ]]" style="cursor: pointer;" target="_blank"><img class="tableImg" src="[[ d.avatar ]]"></a>[[# } ]]'
          },
          {
            id: 'tIsComplemented',
            content: '[[# if (d.isComplemented) { ]]是[[# } else { ]]否[[# } ]]'
          },
          {
            id: 'tStudentYear',
            content: '[[ d.student.yearOfEnrollment ]]'
          },
          {
            id: 'tStudentClass',
            content: '[[ d.student.class ]]'
          },
          {
            id: 'tStudentGrade',
            content: '[[ d.student.grade != null ? d.student.grade : \'\' ]]'
          },
          {
            id: 'tStudentPhoto',
            content: '[[# if (d.student.photo) { ]]<a href="[[ d.student.photo ]]" style="cursor: pointer;" target="_blank"><img class="tableImg" src="[[ d.student.photo ]]"></a>[[# } ]]'
          },
          {
            id: 'tStudentAddress',
            content: '[[ d.student.address != null ? d.student.address : \'\' ]]'
          },
          {
            id: 'tStudentBirthday',
            content: '[[ d.student.birthday != null ? d.student.birthday : \'\' ]]'
          },
          {
            id: 'tStudentFamilyInfo',
            content: '[[ d.student.familyInfo != null ? d.student.familyInfo : \'\' ]]'
          },
          {
            id: 'tStudentPoverty',
            content: '[[ d.student.poverty != null ? d.student.poverty : \'\' ]]'
          },
          {
            id: 'tCreatedTime',
            content: '[[ dateFormat(d.createdTime, \'YYYY-MM-DD HH:mm:ss\') ]]'
          },
        ],
        config: {
          elem: '#student',
          url: '/member-center/management/student/table',
          cols: [
            [
              {align: 'center', width: 200, toolbar: '#operation'},
              {field: 'id', title: 'ID', align: 'center', show: false, sort: true, width: 100},
              {field: 'name', title: '学生姓名', align: 'center', sort: true, minWidth: 140},
              // {field: 'nickName', title: '学生昵称', align: 'center', sort: true, minWidth: 140, templet: '#tNickName'},
              // {field: 'age', title: '年龄', align: 'center', width: 80, templet: '#tAge'},
              // {field: 'studentPeriod', title: '学段', align: 'center', sort: true, width: 80, templet: '#tStudentPeriod'},

              // {field: 'studentYear', title: '入学年份', align: 'center', sort: true, minWidth: 100, templet: '#tStudentYear'},
              // {field: 'schoolAccount', title: '学校编号', align: 'center', sort: true, minWidth: 140, templet: '#tSchoolAccount'},
              // {field: 'createdTime', title: '注册时间', align: 'center', sort: true, width: 180, templet: '#tCreatedTime'},
              // {field: 'studentPoverty', title: '贫困状态', align: 'center', sort: true, minWidth: 160, templet: '#tStudentPoverty'},
              // {field: 'provinceName', title: '大陆省份', align: 'center', sort: true, minWidth: 150, templet: '#tProvinceName'},
              // {field: 'gender', title: '性别', align: 'center', sort: true, width: 80},
              // {field: 'nation', title: '民族', align: 'center', sort: true, width: 80},
              {field: 'wechat', title: '微信号', align: 'center', sort: true, minWidth: 140},
              // {field: 'qq', title: 'QQ', align: 'center', sort: true, minWidth: 140},
              {field: 'avatar', title: '头像', align: 'center', sort: true, width: 80, templet: '#tAvatar'},
              // {field: 'studentClass', title: '班级', align: 'center', sort: true, width: 80, templet: '#tStudentClass'},
              {field: 'studentGrade', title: '年级', align: 'center', sort: true, width: 80, templet: '#tStudentGrade'},
              {field: 'studentPhoto', title: '照片', align: 'center', sort: true, width: 80, templet: '#tStudentPhoto'},
              // {field: 'studentBirthday', title: '出生日期', align: 'center', sort: true, width: 120, templet: '#tStudentBirthday'},
              // {field: 'studentFamilyInfo', title: '家庭情况简述', align: 'center', sort: true, minWidth: 200, templet: '#tStudentFamilyInfo'},
              // {field: 'schoolVerifyIn', title: '会员学校', align: 'center', show: false, sort: true, width:100, templet: '#tSchoolVerifyIn'},
              // {field: 'email', title: 'Email', align: 'center', show: false, sort: true, minWidth: 180},
              // {field: 'isComplemented', title: '完善信息', align: 'center', show: false, sort: true, width: 100, templet: '#tIsComplemented'},
              // {field: 'studentAddress', title: '地址', align: 'center', show: false, sort: true, minWidth: 120, templet: '#tStudentAddress'},
              {field: 'account', title: '学生账号', align: 'center', sort: true, minWidth: 140},
              {field: 'idCard', title: '身份证号', align: 'center', sort: true, width: 180},
              {field: 'phoneNumber', title: '联系手机', align: 'center', sort: true, width: 140},
            ]
          ]
        }
      }
    })
  })
</script>
{% endblock %}
