{% extends "../layout/layout-website.html" %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="/static/css/admin/back.css">
<link rel="stylesheet" href="/static/css/website/member-center.css">
{% endblock %}

{% block body %}

<div class="layui-card myCard">
  <div class="layui-card-header">完善信息</div>
  <div class="layui-card-body layui-tab layui-tab-brief">
    <div id="myForm1"></div>
  </div>
</div>


<!-- <form id="info-complement-form" autocomplete="off">
  <div>
    性别：
    <select name="gender">
      <option disabled selected>请选择</option>
      {% for i, gender in Gender %}
      <option value="{{gender}}">{{gender}}</option>
      {% endfor%}
    </select>
  </div>
  <div>民族：<input type="text" name="nation"></div>
  <div>住址：<input type="text" name="address"></div>
  <div>简介： <textarea name="intro" id="" cols="80" rows="5"></textarea></div>
  <div>
    照片（选填）：
    <button type="button" id="btn-photo">上传</button>
    <img src="" alt="" id="img-photo" style="display: block;">
    <input type="hidden" name="photo">
  </div>
  <div>
    头像（选填）：
    <button type="button" id="btn-avatar">上传</button>
    <img src="" alt="" id="img-avatar" style="display: block;">
    <input type="hidden" name="avatar">
  </div>
  <div>Email（选填）：<input type="text" name="email"></div>
  <div>微信号（选填）：<input type="text" name="wechat"></div>
  <div>qq（选填）：<input type="text" name="qq"></div>
  <div>班级：<input type="number" name="class"></div>
  <div>
    年级：
    <select name="grade">
      <option selected>请选择</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      {% if studentMember.student.period === StudentPeriod.XiaoXue %}
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      {% endif %}
    </select>
  </div>

  {% if studentMember.student.period == StudentPeriod.XiaoXue %}

  {% elseif studentMember.student.period == StudentPeriod.ChuZhong %}
  <div>
    小学学校：
    <select name="primarySchoolId">
      <option disabled selected>请选择</option>
      <option value="0">非会员学校</option>
      {% for school in schools %}
      <option value="{{school.id}}">{{school.member.name}}</option>
      {% endfor %}
    </select>
    注意：如果列表中没有你的学校，请选择非会员学校。
  </div>
  <div>小学入学年份：<input type="text" id="psYearOfEnrollment" name="psYearOfEnrollment"></div>
  <div>小学班级：<input type="number" name="psClass"></div>

  {% elseif studentMember.student.period == StudentPeriod.GaoZhong %}
  <div>
    小学学校：
    <select name="primarySchoolId">
      <option disabled selected>请选择</option>
      <option value="0">非会员学校</option>
      {% for school in schools %}
      <option value="{{school.id}}">{{school.member.name}}</option>
      {% endfor %}
    </select>
    注意：如果列表中没有你的学校，请选择非会员学校。
  </div>
  <div>小学入学年份：<input type="text" id="psYearOfEnrollment" name="psYearOfEnrollment"></div>
  <div>小学班级：<input type="number" name="psClass"></div>
  <div>
    初中学校：
    <select name="middleSchoolId">
      <option disabled selected>请选择</option>
      <option value="0">非会员学校</option>
      {% for school in schools %}
      <option value="{{school.id}}">{{school.member.name}}</option>
      {% endfor %}
    </select>
    注意：如果列表中没有你的学校，请选择非会员学校。
  </div>
  <div>初中入学年份：<input type="text" id="msYearOfEnrollment" name="msYearOfEnrollment"></div>
  <div>初中班级：<input type="number" name="msClass"></div>

  {% endif %}
  <div>
    <button id="info-complement-form-submit" type="submit">提交</button>
  </div>
</form> -->
{% endblock %}

{% block script %}
{{ super() }}
<script>
  $(function () {
    newForm({
      parent: '#myForm1',
      form: {
        labelWidth: '300',
        done: function () {
          $('[lay-filter="myForm1Submit"]').css('marginTop', 30)
        },
        submit: {
          'class': 'layui-btn brownBtn layui-btn-lg lgWidth',
          event: function (data) {
            $('[lay-filter="myForm1Submit"]').attr('disabled', true)
            $('[lay-filter="myForm1Submit"]').addClass('layui-btn-disabled')
            ajax({
              method: 'POST',
              url: '/member-center/management/student/{{studentMember.id}}/completion',
              data: JSON.stringify(data.field),
              success: function () {
                layer.msg('操作成功',{time: 2000, icon:6})
                parent.tableRender()
                window.setTimeout(function () {parent.layer.close(parent.layer.getFrameIndex(window.name))}, 2000)
                // layer.msg('修改成功', {time: 2000, icon:6})
                // parent.tableRender()
                // window.setTimeout(function () {parent.layer.close(parent.layer.getFrameIndex(window.name))}, 2000)
              },
              fail: function () {
                $('[lay-filter="myForm1Submit"]').attr('disabled', false)
                $('[lay-filter="myForm1Submit"]').removeClass('layui-btn-disabled')
              },
              error: function () {
                $('[lay-filter="myForm1Submit"]').attr('disabled', false)
                $('[lay-filter="myForm1Submit"]').removeClass('layui-btn-disabled')
              }
            })
          }
        },
        val: {
          'gender': '{{ studentMember.gender }}',
          'nation': '{{ studentMember.nation }}',
          'address': '{{ studentMember.student.address }}',
          'intro': decodeURIComponent('{{ studentMember.intro }}'),
          'photo': '{{ studentMember.student.photo }}',
          'avatar': '{{ studentMember.avatar }}',
          'email': '{{ studentMember.email }}',
          'wechat': '{{ studentMember.wechat }}',
          'qq': '{{ studentMember.qq }}',
          'grade': '{{ studentMember.student.grade }}',
          'class': '{{ studentMember.student.class }}',
        },
        items: [
          {
            label: '性别',
            elements: {
              eType: 'select',
              name: 'gender',
              layVerify: 'select',
              option: [
                {value: 'null', label: '请选择'},
                {% for i, j in Gender %}
                {value: '{{ j }}', label: '{{ j }}'},
                {% endfor %}
              ],
            }
          },
          {
            label: '民族',
            elements: {
              eType: 'input',
              name: 'nation',
              layVerify: 'required'
            }
          },
          {
            label: '住址',
            elements: {
              eType: 'input',
              name: 'address',
              layVerify: 'required'
            }
          },
          {
            label: '简介',
            elements: {
              eType: 'textarea',
              name: 'intro',
              layVerify: 'required'
            }
          },
          {
            label: '本人照片',
            elements: {
              eType: 'file',
              name: 'photo',
              btnClass: 'layui-btn greenBtn',
            }
          },
          {
            label: '头像',
            elements: {
              eType: 'file',
              name: 'avatar',
              layVerify: '',
              btnClass: 'layui-btn greenBtn'
            }
          },
          {
            label: 'Email',
            elements: {
              eType: 'input',
              name: 'email',
            }
          },
          {
            label: '微信号',
            elements: {
              eType: 'input',
              name: 'wechat',
            }
          },
          {
            label: 'QQ',
            elements: {
              eType: 'input',
              name: 'qq',
            }
          },
          {
            label: '年级',
            elements: {
              eType: 'select',
              name: 'grade',
              layVerify: 'select',
              option: [
                {value: 'null', label: '请选择'},
                {value: '1', label: '1'},
                {value: '2', label: '2'},
                {value: '3', label: '3'},
                {% if studentMember.student.period == StudentPeriod.XiaoXue %}
                {value: '4', label: '4'},
                {value: '5', label: '5'},
                {value: '6', label: '6'},
                {% endif %}
              ]
            }
          },
          {
            label: '班级',
            elements: {
              eType: 'input',
              name: 'class',
              layVerify: 'required'
            }
          },
          {% if studentMember.student.period == StudentPeriod.ChuZhong or studentMember.student.period == StudentPeriod.GaoZhong %}
          {
            label: '小学学校',
            elements: [
              {
                eType: 'char',
                name: 'schoolShowps',
                element: '<div class="layui-form-label"><button type="button" class="inblk layui-btn layui-btn-primary">修改学校</button></div><div class="layui-input-block schoolsps" style="">请选择学校</div>&nbsp;&nbsp;&nbsp; <span class="notice">注意： 如果列表中没有你的学校，请选择非会员学校。</span>',
                events: [
                  {
                    type: 'delegate',
                    name: 'click',
                    query: 'button',
                    callback: function (e) {
                      var index = layer.open({
                        type: 1,
                        title: '选择学校',
                        offset: ['5px', '5px'],
                        skin: 'layui-layer-rim',
                        area: [(document.body.clientWidth - 20) + 'px', (document.body.clientHeight - 20) + 'px'],
                        content: '<div id="chooseSch"></div>',
                        maxmin: true
                      })
                      newTable({
                        parent: '#chooseSch',
                        btns: {
                          items: [
                            {
                              layEvent: 'backSch',
                              'class': 'layui-btn greenBtn',
                              label: '确认选择',
                              event: function (obj, config, render) {
                                var data = table.checkStatus(config.id).data
                                if (data.length === 0) layer.close(index)
                                else if (data.length > 0) {
                                  $('[name=primarySchoolId]').val(data[0].school.id)
                                  $('.schoolsps').html(data[0].name)
                                  layer.close(index)
                                }
                              }
                            },
                            {
                              layEvent: 'cancelSch',
                              label: '取消',
                              event: function (obj, config, render) {layer.close(index)}
                            },
                            {
                              layEvent: 'clear',
                              label: '非会员学校',
                              event: function (obj, config, render) {
                                $('[name=primarySchoolId]').val(0)
                                $('.schoolsps').html('非会员学校')
                                layer.close(index)
                              }
                            },
                          ]
                        },
                        search: {
                          'class': 'selects',
                          labelWidth: '100',
                          submit: {
                            'class': 'layui-btn greenBtn'
                          },
                          items: [
                            {
                              label: '会员学校',
                              elements: {
                                eType: 'select',
                                name: 'schoolVerifyIn',
                                option: [
                                  {value: 'all', label: '&nbsp;', selected: true},
                                  {value: '{{ VerifyStatus.ok }}', label: '是'},
                                  {value: '{{ VerifyStatus.wait }},{{ VerifyStatus.no }}', label: '否'},
                                ]
                              }
                            },
                            {
                              label: '学校编号',
                              elements: {
                                eType: 'input',
                                name: 'account'
                              }
                            },
                            {
                              label: '学校名称',
                              elements: {
                                eType: 'input',
                                name: 'name'
                              }
                            },
                            {
                              label: '大陆省份',
                              elements: {
                                eType: 'input',
                                name: 'provinceName'
                              }
                            },
                            // {
                            //   label: '联系人姓名',
                            //   elements: {
                            //     eType: 'input',
                            //     name: 'contactName'
                            //   }
                            // },
                            // {
                            //   label: '联系手机',
                            //   elements: {
                            //     eType: 'input',
                            //     name: 'phoneNumber'
                            //   }
                            // },
                          ]
                        },
                        table: {
                          checkboxType: 'radio',
                          templates: [
                            {
                              id: 'tSchoolVerifyIn',
                              content: '[[ d.school.verify === \'{{ VerifyStatus.ok }}\' ? \'是\' : \'否\' ]]'
                            },
                            {
                              id: 'tProvinceName',
                              content: '[[ d.county.city.province.name ]]'
                            },
                            {
                              id: 'tAvatar',
                              content: '[[# if (d.avatar) { ]]<a href="[[ d.avatar ]]" style="cursor: pointer;" target="_blank"><img class="tableImg" src="[[ d.avatar ]]"></a>[[# } ]]'
                            },
                            {
                              id: 'tIsComplemented',
                              content: '[[# if (d.isComplemented) { ]]是[[# } else { ]]否[[# } ]]'
                            },
                          ],
                          config: {
                            elem: '#schoolps',
                            url: '/member/school/table',
                            cols: [
                              [
                                {field: 'id', title: 'ID', align: 'center', show: false, sort: true, width: 100, fixed: 'left'},
                                {field: 'account', title: '学校编号', align: 'center', sort: true, minWidth: 140, fixed: 'left'},
                                {field: 'name', title: '学校名称', align: 'center', sort: true, minWidth: 250},
                                {field: 'schoolVerifyIn', sort: true, title: '会员学校', width:100, align: 'center', templet: '#tSchoolVerifyIn'},
                                {field: 'provinceName', title: '大陆省份', align: 'center', sort: true, minWidth: 150, templet: '#tProvinceName'},
                                // {field: 'contactName', title: '联系人姓名', align: 'center', sort: true, minWidth: 140},
                                // {field: 'phoneNumber', title: '联系手机', align: 'center', sort: true, width: 120},
                                // {field: 'email', title: 'Email', align: 'center', sort: true, minWidth: 100},
                                // {field: 'wechat', title: '微信号', align: 'center', show: false, sort: true, minWidth: 100},
                                // {field: 'qq', title: 'QQ', align: 'center', show: false, sort: true, minWidth: 100},
                                // {field: 'avatar', title: '头像', align: 'center', show: false, sort: true, width: 80, templet: '#tAvatar'},
                                // {field: 'isComplemented', title: '完善信息', align: 'center', show: false, sort: true, width: 100, templet: '#tIsComplemented'},
                              ]
                            ],
                          }
                        }
                      })
                    }
                  }
                ]
              },
              {
                eType: 'input',
                name: 'primarySchoolId',
                show: false,
                layVerify: 'schRqd|required',
              }
            ]
          },
          {
            label: '小学入学年份',
            elements: {
              eType: 'date',
              name: 'psYearOfEnrollment',
              layVerify: 'required',
              type: 'year'
            }
          },
          {
            label: '小学班级',
            elements: {
              eType: 'input',
              name: 'psClass',
              layVerify: 'required'
            }
          },
            {% if studentMember.student.period == StudentPeriod.GaoZhong %}
          {
            label: '初中学校',
            elements: [
              {
                eType: 'char',
                name: 'schoolShowms',
                element: '<div class="layui-form-label"><button type="button" class="inblk layui-btn layui-btn-primary">修改学校</button></div><div class="layui-input-block schoolsms" style="">请选择学校</div>&nbsp;&nbsp;&nbsp; <span class="notice">注意： 如果列表中没有你的学校，请选择非会员学校。</span>',
                events: [
                  {
                    type: 'delegate',
                    name: 'click',
                    query: 'button',
                    callback: function (e) {
                      var index = layer.open({
                        type: 1,
                        title: '选择学校',
                        offset: ['5px', '5px'],
                        skin: 'layui-layer-rim',
                        area: [(document.body.clientWidth - 20) + 'px', (document.body.clientHeight - 20) + 'px'],
                        content: '<div id="chooseSch"></div>',
                        maxmin: true
                      })
                      newTable({
                        parent: '#chooseSch',
                        btns: {
                          items: [
                            {
                              layEvent: 'backSch',
                              'class': 'layui-btn greenBtn',
                              label: '确认选择',
                              event: function (obj, config, render) {
                                var data = table.checkStatus(config.id).data
                                if (data.length === 0) layer.close(index)
                                else if (data.length > 0) {
                                  $('[name=middleSchoolId]').val(data[0].school.id)
                                  $('.schoolsms').html(data[0].name)
                                  layer.close(index)
                                }
                              }
                            },
                            {
                              layEvent: 'cancelSch',
                              label: '取消',
                              event: function (obj, config, render) {layer.close(index)}
                            },
                            {
                              layEvent: 'clear',
                              label: '非会员学校',
                              event: function (obj, config, render) {
                                $('[name=middleSchoolId]').val(0)
                                $('.schoolsms').html('非会员学校')
                                layer.close(index)
                              }
                            },
                          ]
                        },
                        search: {
                          'class': 'selects',
                          labelWidth: '100',
                          submit: {
                            'class': 'layui-btn greenBtn'
                          },
                          items: [
                            {
                              label: '会员学校',
                              elements: {
                                eType: 'select',
                                name: 'schoolVerifyIn',
                                option: [
                                  {value: 'all', label: '&nbsp;', selected: true},
                                  {value: '{{ VerifyStatus.ok }}', label: '是'},
                                  {value: '{{ VerifyStatus.wait }},{{ VerifyStatus.no }}', label: '否'},
                                ]
                              }
                            },
                            {
                              label: '学校编号',
                              elements: {
                                eType: 'input',
                                name: 'account'
                              }
                            },
                            {
                              label: '学校名称',
                              elements: {
                                eType: 'input',
                                name: 'name'
                              }
                            },
                            {
                              label: '大陆省份',
                              elements: {
                                eType: 'input',
                                name: 'provinceName'
                              }
                            },
                            // {
                            //   label: '联系人姓名',
                            //   elements: {
                            //     eType: 'input',
                            //     name: 'contactName'
                            //   }
                            // },
                            // {
                            //   label: '联系手机',
                            //   elements: {
                            //     eType: 'input',
                            //     name: 'phoneNumber'
                            //   }
                            // },
                          ]
                        },
                        table: {
                          checkboxType: 'radio',
                          templates: [
                            {
                              id: 'tSchoolVerifyIn',
                              content: '[[ d.school.verify === \'{{ VerifyStatus.ok }}\' ? \'是\' : \'否\' ]]'
                            },
                            {
                              id: 'tProvinceName',
                              content: '[[ d.county.city.province.name ]]'
                            },
                            {
                              id: 'tAvatar',
                              content: '[[# if (d.avatar) { ]]<a href="[[ d.avatar ]]" style="cursor: pointer;" target="_blank"><img class="tableImg" src="[[ d.avatar ]]"></a>[[# } ]]'
                            },
                            {
                              id: 'tIsComplemented',
                              content: '[[# if (d.isComplemented) { ]]是[[# } else { ]]否[[# } ]]'
                            },
                          ],
                          config: {
                            elem: '#schoolms',
                            url: '/member/school/table',
                            cols: [
                              [
                                {field: 'id', title: 'ID', align: 'center', show: false, sort: true, width: 100, fixed: 'left'},
                                {field: 'account', title: '学校编号', align: 'center', sort: true, minWidth: 140, fixed: 'left'},
                                {field: 'name', title: '学校名称', align: 'center', sort: true, minWidth: 250},
                                {field: 'schoolVerifyIn', sort: true, title: '会员学校', width:100, align: 'center', templet: '#tSchoolVerifyIn'},
                                {field: 'provinceName', title: '大陆省份', align: 'center', sort: true, minWidth: 150, templet: '#tProvinceName'},
                                // {field: 'contactName', title: '联系人姓名', align: 'center', sort: true, minWidth: 140},
                                // {field: 'phoneNumber', title: '联系手机', align: 'center', sort: true, width: 120},
                                // {field: 'email', title: 'Email', align: 'center', sort: true, minWidth: 100},
                                // {field: 'wechat', title: '微信号', align: 'center', show: false, sort: true, minWidth: 100},
                                // {field: 'qq', title: 'QQ', align: 'center', show: false, sort: true, minWidth: 100},
                                // {field: 'avatar', title: '头像', align: 'center', show: false, sort: true, width: 80, templet: '#tAvatar'},
                                // {field: 'isComplemented', title: '完善信息', align: 'center', show: false, sort: true, width: 100, templet: '#tIsComplemented'},
                              ]
                            ],
                          }
                        }
                      })
                    }
                  }
                ]
              },
              {
                eType: 'input',
                name: 'middleSchoolId',
                show: false,
                layVerify: 'schRqd|required',
              }
            ]
          },
          {
            label: '初中入学年份',
            elements: {
              eType: 'date',
              name: 'msYearOfEnrollment',
              layVerify: 'required',
              type: 'year'
            }
          },
          {
            label: '初中班级',
            elements: {
              eType: 'input',
              name: 'msClass',
              layVerify: 'required'
            }
          },
            {% endif %}
          {% endif %}
        ],
        verify: {
          select: function (value) {
            if (value === '' || value === 'null') return '必填项不能为空'
          },
          schRqd: function (value) {
            if (value === '') return '学校不能为空'
          },
        }
      }
    })

    // // 上传照片
    // layui.upload.render({
    //   elem: '#btn-photo',
    //   url: '/upload/',
    //   done: function(res){
    //     $('#img-photo')[0].src = res.url
    //     $('input[name=photo]').val(res.url)
    //   },
    //   error: function(){
    //   }
    // })

    // // 上传头像
    // layui.upload.render({
    //   elem: '#btn-avatar',
    //   url: '/upload/',
    //   done: function(res){
    //     $('#img-avatar')[0].src = res.url
    //     $('input[name=avatar]').val(res.url)
    //   },
    //   error: function(){
    //   }
    // })

    // // 入学年份 年选择器
    // {% if studentMember.student.period == StudentPeriod.ChuZhong %}
    // layui.laydate.render({
    //   elem: '#psYearOfEnrollment',
    //   type: 'year',
    //   theme: '#1E9FFF'
    // })
    // {% elseif studentMember.student.period == StudentPeriod.GaoZhong %}
    // layui.laydate.render({
    //   elem: '#psYearOfEnrollment',
    //   type: 'year',
    //   theme: '#1E9FFF'
    // })
    // layui.laydate.render({
    //   elem: '#msYearOfEnrollment',
    //   type: 'year',
    //   theme: '#1E9FFF'
    // })
    // {% endif %}


    // $('#info-complement-form').on('submit', function(e) {
    //   if (e.target !== this) {
    //     return true
    //   }
    //   e.preventDefault()
    //   $('#info-complement-form-submit').attr('disabled', true)
    //   ajax({
    //     method: 'POST',
    //     url: '/member-center/management/student/{{studentMember.id}}/completion',
    //     data: JSON.stringify(getFormData('#info-complement-form')),
    //     success: function () {
    //       layui.layer.msg('操作成功',{ time: 1000 })
    //       parent.tableRender()
    //       window.setTimeout(function () {
    //         // location.href = '/member-center/info'
    //         var index = parent.layer.getFrameIndex(window.name) //先得到当前iframe层的索引
    //         parent.layer.close(index) //再执行关闭
    //       }, 1100)
    //     },
    //     fail: function () {
    //       $('#info-complement-form-submit').attr('disabled', false)
    //     }
    //   })
    // })
  })
</script>
{% endblock %}
