{% extends "../layout/layout-member-center.html" %}

{% block css %}
{{ super() }}
{% endblock %}

{% block body %}

  <div class="layui-card myCard">
    <div class="layui-card-header">大赛报名{{ address }}</div>
    <div class="layui-card-body layui-tab layui-tab-brief">
      <div id="myForm"></div>
    </div>
  </div>

{% endblock %}

{% block script %}
{{ super() }}
<script>
  $(function () {
    newForm({
      form: {
        labelWidth: '100',
        submit: {
          label: '存为草稿',
          event: function (data) {
            $('[lay-filter="myFormSubmit"]').attr('disabled', true)
            $('[lay-filter="myFormSubmit"]').addClass('layui-btn-disabled')
            ajax({
              method: 'POST',
              url: '/member-center/match-apply',
              data: JSON.stringify(data.field),
              success: function () {
                // layer.msg('报名成功', {time: 2000, icon:6})
                parent.tableRender()
                window.setTimeout(function () {parent.layer.close(parent.layer.getFrameIndex(window.name))}, 0)
                // window.setTimeout(function () {window.location.href = '/member-center/match-apply'}, 2000)
              },
              fail: function () {
                $('[lay-filter="myFormSubmit"]').attr('disabled', false)
                $('[lay-filter="myFormSubmit"]').removeClass('layui-btn-disabled')
              },
              error: function () {
                $('[lay-filter="myFormSubmit"]').attr('disabled', false)
                $('[lay-filter="myFormSubmit"]').removeClass('layui-btn-disabled')
              }
            })
          }
        },
        {% if curMember.type == MemberType.student %}
        val: {
          photo: '{{ curMember.student.photo }}',
          address: '{{ curMember.county.city.province.name }}{{ curMember.county.city.name }}{{ curMember.county.name }}{{ curMember.student.school.member.name }}'
        },
        done: function () {
          $('#photoImg').attr('src', '{{ curMember.student.photo }}')
        },
        {% else %}
        val: {
          address: '{{ curMember.county.city.province.name }}{{ curMember.county.city.name }}{{ curMember.county.name }}{{ curMember.name }}'
        },
        {% endif %}
        items: [
          // {
          //   label: '大赛',
          //   elements: {
          //     eType: 'select',
          //     name: 'matchId',
          //     layVerify: 'select',
          //     option: [
          //       {value: 'null', label: '请选择', selected: true},
          //       {% for match in matchs %}
          //       {value: '{{ match.id }}', label: '{{ match.name }}'},
          //       {% endfor %}
          //     ],
          //   }
          // },
          {% if curMember.type == MemberType.school %}
          {
            label: '学生',
            elements: [
              {
                eType: 'char',
                name: 'studentShow',
                element: '<div class="layui-form-label"><button type="button" class="inblk layui-btn layui-btn-primary">添加学生</button></div><div class="layui-input-block students" style="">请选择学生</div>',
                events: [
                  {
                    type: 'delegate',
                    name: 'click',
                    query: '.layui-icon-close',
                    callback: function () {
                      $(this).parent().remove()
                      var val = $('[name=studentId]').val().split(',')
                      val.splice(val.indexOf($(this).attr('stuid')), 1)
                      $('[name=studentId]').val(val.join(','))
                      if (val.length === 0) $('.students').html('请选择学生')
                    }
                  },
                  {
                    type: 'delegate',
                    name: 'click',
                    query: 'button',
                    callback: function (e) {
                      var index = layer.open({
                        type: 1,
                        title: '选择学生（没有完善信息和照片的学生，不在此列出）',
                        offset: ['5px', '5px'],
                        skin: 'layui-layer-rim',
                        area: [(document.body.clientWidth - 20) + 'px', (document.body.clientHeight - 20) + 'px'],
                        content: '<div id="chooseStu"></div>',
                        maxmin: true
                      })
                      newTable({
                        parent: '#chooseStu',
                        btns: {
                          items: [
                            {
                              layEvent: 'backStu',
                              'class': 'layui-btn-normal',
                              label: '确认选择',
                              event: function (obj, config, render) {
                                var data = table.checkStatus(config.id).data
                                var val = $('[name=studentId]').val().split(',')
                                if (val[0] === '') val.splice(0, 1)
                                var html = $('.students').html().split(' ')
                                if (html[0] === '请选择学生') html.splice(0, 1)
                                for (var i in data) {
                                  if (data.hasOwnProperty(i)) {
                                    val.push(data[i].student.id)
                                    html.push('<span class="layui-badge layui-bg-blue" style="margin-right: 10px;">ID:' + data[i].student.id + '-' + data[i].name + '<i class="layui-icon layui-icon-close" style="font-size: 12px;" stuid="' + data[i].student.id + '"></i></span>')
                                  }
                                }
                                $('[name=studentId]').val(val.join(','))
                                $('.students').html(html.join(' '))
                                layer.close(index)
                              }
                            },
                            {
                              layEvent: 'cancelStu',
                              label: '取消',
                              event: function (obj, config, render) {layer.close(index)}
                            },
                            // 'setCols'
                          ]
                        },
                        search: {
                          'class': 'selects',
                          labelWidth: '100',
                          submit: {
                            'class': 'layui-btn greenBtn'
                          },
                          items: [
                            {
                              label: '会员学校',
                              elements: {
                                eType: 'select',
                                name: 'schoolVerifyIn',
                                option: [
                                  {value: 'all', label: '&nbsp;', selected: true},
                                  {value: '{{ VerifyStatus.ok }}', label: '是'},
                                  {value: '{{ VerifyStatus.wait }},{{ VerifyStatus.no }}', label: '否'},
                                ]
                              }
                            },
                            {
                              label: '学生账号',
                              elements: {
                                eType: 'input',
                                name: 'account'
                              }
                            },
                            {
                              label: '学生姓名',
                              elements: {
                                eType: 'input',
                                name: 'name'
                              }
                            },
                            {
                              label: '身份证号',
                              elements: {
                                eType: 'input',
                                name: 'idCard'
                              }
                            },
                            // {
                            //   label: '学校编号',
                            //   elements: {
                            //     eType: 'input',
                            //     name: 'schoolAccount'
                            //   }
                            // },
                            // {
                            //   label: '学校名称',
                            //   elements: {
                            //     eType: 'input',
                            //     name: 'schoolName'
                            //   }
                            // },
                            {
                              label: '联系手机',
                              elements: {
                                eType: 'input',
                                name: 'phoneNumber'
                              }
                            },
                            {
                              label: '学段',
                              elements: {
                                eType: 'select',
                                name: 'studentPeriod',
                                option: [
                                  {value: 'all', label: '&nbsp;', selected: true},
                                  {% for i, j in StudentPeriod %}
                                  {% if i != 'LiXiao' %}{value: '{{ j }}', label: '{{ j }}'},{% endif %}
                                  {% endfor %}
                                ]
                              }
                            },
                          ]
                        },
                        table: {
                          templates: [
                            {
                              id: 'tSchoolVerifyIn',
                              content: '[[# if (d.student.school.verify === \'{{ VerifyStatus.ok }}\') { ]]是[[# } else { ]]否[[# } ]]'
                            },
                            {
                              id: 'tSchoolAccount',
                              content: '[[ d.student.school.member.account ]]'
                            },
                            {
                              id: 'tSchoolName',
                              content: '[[ d.student.school.member.name ]]'
                            },
                            {
                              id: 'tStudentPeriod',
                              content: '[[#  if(d.student.period === \'{{ StudentPeriod.XiaoXue }}\'){ ]]<span class="layui-badge layui-bg-orange">小</span>[[# } else if(d.student.period === \'{{ StudentPeriod.ChuZhong }}\'){ ]]<span class="layui-badge layui-bg-blue">初</span>[[#  } else if(d.student.period === \'{{ StudentPeriod.GaoZhong }}\'){ ]]<span class="layui-badge layui-bg-red">高</span>[[#  } else { ]]<span class="layui-badge layui-bg-gray">离</span>[[#  } ]]'
                            },
                            {
                              id: 'tAvatar',
                              content: '[[# if (d.avatar) { ]]<a href="[[ d.avatar ]]" style="cursor: pointer;" target="_blank"><img class="tableImg" src="[[ d.avatar ]]"></a>[[# } ]]'
                            },
                            {
                              id: 'tIsComplemented',
                              content: '[[# if (d.isComplemented) { ]]是[[# } else { ]]否[[# } ]]'
                            },
                            {
                              id: 'tStudentYear',
                              content: '[[ d.student.yearOfEnrollment ]]'
                            },
                            {
                              id: 'tStudentClass',
                              content: '[[ d.student.class ]]'
                            },
                            {
                              id: 'tStudentGrade',
                              content: '[[ d.student.grade ]]'
                            },
                            {
                              id: 'tStudentPhoto',
                              content: '[[# if (d.student.photo) { ]]<a href="[[ d.student.photo ]]" style="cursor: pointer;" target="_blank"><img class="tableImg" src="[[ d.student.photo ]]"></a>[[# } ]]'
                            },
                            {
                              id: 'tStudentAddress',
                              content: '[[ d.student.address != null ? d.student.address : \'\' ]]'
                            },
                          ],
                          config: {
                            elem: '#student',
                            url: '/member/student/table?isComplemented=true&notPeriod={{ StudentPeriod.LiXiao }}&matchId={{ match.id }}&dftNotIdM=true&notId=' + ($('[name=studentId]').val() !== '' ? $('[name=studentId]').val() : 'null'),
                            cols: [
                              [
                                {field: 'id', title: 'ID', align: 'center', show: false, sort: true, width: 100},
                                {field: 'account', title: '学生账号', align: 'center', sort: true, minWidth: 140},
                                {field: 'name', title: '学生姓名', align: 'center', sort: true, minWidth: 140},
                                {field: 'nickName', title: '学生昵称', align: 'center', show: false, sort: true, minWidth: 140},
                                {field: 'schoolVerifyIn', title: '会员学校', align: 'center', sort: true, width:100, templet: '#tSchoolVerifyIn'},
                                // {field: 'schoolAccount', title: '学校编号', align: 'center', sort: true, minWidth: 140, templet: '#tSchoolAccount'},
                                // {field: 'schoolName', title: '学校名称', align: 'center', sort: true, minWidth: 250, templet: '#tSchoolName'},
                                {field: 'phoneNumber', title: '联系手机', align: 'center', sort: true, width: 140},
                                {field: 'studentPeriod', title: '学段', align: 'center', sort: true, width: 80, templet: '#tStudentPeriod'},
                                {field: 'idCard', title: '身份证号', align: 'center', sort: true, width: 180},
                                {field: 'gender', title: '性别', align: 'center', show: false, sort: true, width: 80},
                                {field: 'nation', title: '民族', align: 'center', show: false, sort: true, width: 80},
                                {field: 'email', title: 'Email', align: 'center', show: false, sort: true, minWidth: 100},
                                {field: 'wechat', title: '微信号', align: 'center', show: false, sort: true, minWidth: 100},
                                {field: 'qq', title: 'QQ', align: 'center', show: false, sort: true, minWidth: 100},
                                {field: 'avatar', title: '头像', align: 'center', show: false, sort: true, width: 80, templet: '#tAvatar'},
                                {field: 'isComplemented', title: '完善信息', align: 'center', show: false, sort: true, width: 100, templet: '#tIsComplemented'},
                                {field: 'studentYear', title: '入学年份', align: 'center', show: false, sort: true, minWidth: 100, templet: '#tStudentYear'},
                                {field: 'studentClass', title: '班级', align: 'center', show: false, sort: true, width: 80, templet: '#tStudentClass'},
                                {field: 'studentGrade', title: '年级', align: 'center', show: false, sort: true, width: 80, templet: '#tStudentGrade'},
                                {field: 'studentPhoto', title: '照片', align: 'center', show: false, sort: true, width: 80, templet: '#tStudentPhoto'},
                                {field: 'studentAddress', title: '地址', align: 'center', show: false, sort: true, minWidth: 120, templet: '#tStudentAddress'},
                              ]
                            ],
                          }
                        }
                      })
                    }
                  }
                ]
              },
              {
                eType: 'input',
                name: 'studentId',
                show: false,
                layVerify: 'stuRqd'
              }
            ]
          },
          {% endif %}
          {
            label: '指导老师',
            elements: [
              {
                eType: 'char',
                name: 'teacherShow',
                element: '<div class="layui-form-label"><button type="button" class="inblk layui-btn layui-btn-primary">修改老师</button></div><div class="layui-input-block teachers" style="">请选择老师</div>',
                events: [
                  {
                    type: 'delegate',
                    name: 'click',
                    query: 'button',
                    callback: function (e) {
                      var index = layer.open({
                        type: 1,
                        title: '选择指导老师',
                        offset: ['5px', '5px'],
                        skin: 'layui-layer-rim',
                        area: [(document.body.clientWidth - 20) + 'px', (document.body.clientHeight - 20) + 'px'],
                        content: '<div id="chooseTch"></div>',
                        maxmin: true
                      })
                      newTable({
                        parent: '#chooseTch',
                        btns: {
                          items: [
                            {
                              layEvent: 'backTch',
                              'class': 'layui-btn-normal',
                              label: '确认选择',
                              event: function (obj, config, render) {
                                var data = table.checkStatus(config.id).data
                                if (data.length === 0) layer.close(index)
                                else if (data.length > 0) {
                                  $('[name=teacherId]').val(data[0].teacher.id)
                                  $('[name=teacherShow] .inblk').html(data[0].name)
                                  layer.close(index)
                                }
                              }
                            },
                            {
                              layEvent: 'cancelTch',
                              label: '取消',
                              event: function (obj, config, render) {layer.close(index)}
                            },
                            // 'setCols'
                          ]
                        },
                        search: {
                          'class': 'selects',
                          labelWidth: '100',
                          submit: {
                            'class': 'layui-btn greenBtn'
                          },
                          items: [
                            {
                              label: '会员学校',
                              elements: {
                                eType: 'select',
                                name: 'schoolVerifyIn',
                                option: [
                                  {value: 'all', label: '&nbsp;', selected: true},
                                  {value: '{{ VerifyStatus.ok }}', label: '是'},
                                  {value: '{{ VerifyStatus.wait }},{{ VerifyStatus.no }}', label: '否'},
                                ]
                              }
                            },
                            {
                              label: '老师账号',
                              elements: {
                                eType: 'input',
                                name: 'account'
                              }
                            },
                            {
                              label: '老师姓名',
                              elements: {
                                eType: 'input',
                                name: 'name'
                              }
                            },
                            {
                              label: '身份证号',
                              elements: {
                                eType: 'input',
                                name: 'idCard'
                              }
                            },
                            // {
                            //   label: '学校编号',
                            //   elements: {
                            //     eType: 'input',
                            //     name: 'schoolAccount'
                            //   }
                            // },
                            // {
                            //   label: '学校名称',
                            //   elements: {
                            //     eType: 'input',
                            //     name: 'schoolName'
                            //   }
                            // },
                            {
                              label: '联系手机',
                              elements: {
                                eType: 'input',
                                name: 'phoneNumber'
                              }
                            },
                          ]
                        },
                        table: {
                          checkboxType: 'radio',
                          templates: [
                            {
                              id: 'tSchoolVerifyIn',
                              content: '[[# if (d.teacher.school.verify === \'{{ VerifyStatus.ok }}\') { ]]是[[# } else { ]]否[[# } ]]'
                            },
                            {
                              id: 'tSchoolAccount',
                              content: '[[ d.teacher.school.member.account ]]'
                            },
                            {
                              id: 'tSchoolName',
                              content: '[[ d.teacher.school.member.name ]]'
                            },
                            {
                              id: 'tAvatar',
                              content: '[[# if (d.avatar) { ]]<a href="[[ d.avatar ]]" style="cursor: pointer;" target="_blank"><img class="tableImg" src="[[ d.avatar ]]"></a>[[# } ]]'
                            },
                            {
                              id: 'tIsComplemented',
                              content: '[[# if (d.isComplemented) { ]]是[[# } else { ]]否[[# } ]]'
                            },
                            {
                              id: 'tTeacherAddress',
                              content: '[[ d.teacher.address != null ? d.teacher.address : \'\' ]]'
                            },
                          ],
                          config: {
                            elem: '#teacher',
                            url: '/member/teacher/table',
                            cols: [
                              [
                                {field: 'id', title: 'ID', align: 'center', show: false, sort: true, width: 100},
                                {field: 'account', title: '老师账号', align: 'center', sort: true, minWidth: 140},
                                {field: 'name', title: '老师姓名', align: 'center', sort: true, minWidth: 140},
                                {field: 'nickName', title: '老师昵称', align: 'center', show: false, sort: true, minWidth: 140},
                                {field: 'schoolVerifyIn', title: '会员学校', align: 'center', sort: true, width:100, templet: '#tSchoolVerifyIn'},
                                {field: 'schoolAccount', title: '学校编号', align: 'center', sort: true, minWidth: 140, templet: '#tSchoolAccount'},
                                {field: 'schoolName', title: '学校名称', align: 'center', sort: true, minWidth: 250, templet: '#tSchoolName'},
                                {field: 'phoneNumber', title: '联系手机', align: 'center', sort: true, width: 140},
                                {field: 'idCard', title: '身份证号', align: 'center', sort: true, width: 180},
                                {field: 'gender', title: '性别', align: 'center', show: false, sort: true, width: 80},
                                {field: 'nation', title: '民族', align: 'center', show: false, sort: true, width: 80},
                                {field: 'email', title: 'Email', align: 'center', show: false, sort: true, minWidth: 100},
                                {field: 'wechat', title: '微信号', align: 'center', show: false, sort: true, minWidth: 100},
                                {field: 'qq', title: 'QQ', align: 'center', show: false, sort: true, minWidth: 100},
                                {field: 'avatar', title: '头像', align: 'center', show: false, sort: true, width: 80, templet: '#tAvatar'},
                                {field: 'isComplemented', title: '完善信息', align: 'center', show: false, sort: true, width: 100, templet: '#tIsComplemented'},
                                {field: 'teacherAddress', title: '地址', align: 'center', show: false, sort: true, minWidth: 120, templet: '#tTeacherAddress'},
                              ]
                            ],
                          }
                        }
                      })
                    }
                  }
                ]
              },
              {
                eType: 'input',
                name: 'teacherId',
                show: false,
                layVerify: 'tchRqd'
              }
            ]
          },
          {% if curMember.type == MemberType.student %}
          {
            label: '照片',
            elements: {
              eType: 'file',
              name: 'photo',
              layVerify: 'phtRqd'
            }
          },
          {% endif %}
          {
            label: '奖品邮寄地址',
            elements: {
              eType: 'input',
              name: 'address',
              layVerify: 'required'
            }
          }
        ],
        verify: {
          select: function (value) {
            if (value === '' || value === 'null') return '必填项不能为空'
          },
          stuRqd: function (value) {
            if (value === '') return '学生不能为空'
          },
          tchRqd: function (value) {
            if (value === '') return '指导老师不能为空'
          },
          phtRqd: function (value) {
            if (value === '') return '照片不能为空'
          }
        }
      }
    })
  })
</script>
{% endblock %}
