{% extends "../layout/layout-member-center.html" %}

{% block css %}
{{ super() }}
{% endblock %}

{% block body %}

  <div class="layui-card myCard">
    <div class="layui-card-header">大赛报名表</div>
    <div class="layui-card-body layui-tab layui-tab-brief">
      <div id="myForm"></div>
      <div class="layui-btn-container buttons">
        <button class="layui-btn layui-btn-normal" id="ok">提交</button>
        <button class="layui-btn layui-btn-danger" id="no">存为草稿</button>
      </div>
    </div>
  </div>

{% endblock %}

{% block script %}
{{ super() }}
<script>
  $(function () {
    newForm({
      form: {
        labelWidth: '100',
        submit: {
          show: false,
          event: function (data) {
            $('#ok, #no').attr('disabled', true)
            $('#ok, #no').addClass('layui-btn-disabled')
            ajax({
              method: 'PUT',
              url: '/member-center/match-apply/{{ matchApply.id }}',
              data: JSON.stringify(data.field),
              success: function () {
                if (data.field.status === '{{ MatchApplyStatus.draft }}') layer.msg('修改成功', {time: 2000, icon:6})
                else layer.msg('已提交报名表', {time: 2000, icon:6})
                parent.tableRender()
                window.setTimeout(function () {parent.layer.close(parent.layer.getFrameIndex(window.name))}, 2000)
                // window.setTimeout(function () {window.location.href = '/member-center/match-apply'}, 2000)
              },
              fail: function () {
                $('#ok, #no').attr('disabled', false)
                $('#ok, #no').removeClass('layui-btn-disabled')
              },
              error: function () {
                $('#ok, #no').attr('disabled', false)
                $('#ok, #no').removeClass('layui-btn-disabled')
              }
            })
          }
        },
        val: {
          teacherId: '{{ matchApply.teacher.id }}',
          address: '{{ matchApply.address }}',
          grade: '{{ matchApply.grade }}',
          photo: '{{ matchApply.photo }}',
        },
        items: [
          // {
          //   label: '大赛',
          //   elements: {
          //     eType: 'select',
          //     name: 'matchId',
          //     layVerify: 'select',
          //     option: [
          //       {value: 'null', label: '请选择', selected: true},
          //       {% for match in matchs %}
          //       {value: '{{ match.id }}', label: '{{ match.name }}'},
          //       {% endfor %}
          //     ],
          //   }
          // },
          {
            label: '大赛',
            elements: {
              eType: 'char',
              name: 'matchId',
              element: '<div class="layui-input-block" style="">{{ matchApply.match.name }}</div>'
            }
          },
          {
            label: '学生',
            elements: {
              eType: 'char',
              name: 'student',
              element: '<div class="layui-input-block" style="">{{ matchApply.name }}</div>'
            }
          },
          {
            label: '指导老师',
            elements: [
              {
                eType: 'char',
                name: 'teacherShow',
                element: '<div class="layui-form-label"><button type="button" class="inblk layui-btn layui-btn-primary">修改老师</button></div><div class="layui-input-block teachers" style="">{{ matchApply.teacherName }}</div>',
                events: [
                  {
                    type: 'delegate',
                    name: 'click',
                    query: 'button',
                    callback: function (e) {
                      var index = layer.open({
                        type: 1,
                        title: '选择指导老师',
                        offset: ['5px', '5px'],
                        skin: 'layui-layer-rim',
                        area: [(document.body.clientWidth - 20) + 'px', (document.body.clientHeight - 20) + 'px'],
                        content: '<div id="chooseTch"></div>',
                        maxmin: true
                      })
                      newTable({
                        parent: '#chooseTch',
                        btns: {
                          items: [
                            {
                              layEvent: 'backTch',
                              'class': 'layui-btn-normal',
                              label: '确认选择',
                              event: function (obj, config, render) {
                                var data = table.checkStatus(config.id).data
                                if (data.length === 0) layer.close(index)
                                else if (data.length > 0) {
                                  $('[name=teacherId]').val(data[0].teacher.id)
                                  $('[name=teacherShow] .inblk').html(data[0].name)
                                  layer.close(index)
                                }
                              }
                            },
                            {
                              layEvent: 'cancelTch',
                              label: '取消',
                              event: function (obj, config, render) {layer.close(index)}
                            },
                            // 'setCols'
                          ]
                        },
                        search: {
                          'class': 'selects',
                          labelWidth: '100',
                          submit: {
                            'class': 'layui-btn greenBtn'
                          },
                          items: [
                            {
                              label: '会员学校',
                              elements: {
                                eType: 'select',
                                name: 'schoolVerifyIn',
                                option: [
                                  {value: 'all', label: '&nbsp;', selected: true},
                                  {value: '{{ VerifyStatus.ok }}', label: '是'},
                                  {value: '{{ VerifyStatus.wait }},{{ VerifyStatus.no }}', label: '否'},
                                ]
                              }
                            },
                            {
                              label: '老师账号',
                              elements: {
                                eType: 'input',
                                name: 'account'
                              }
                            },
                            {
                              label: '老师姓名',
                              elements: {
                                eType: 'input',
                                name: 'name'
                              }
                            },
                            {
                              label: '身份证号',
                              elements: {
                                eType: 'input',
                                name: 'idCard'
                              }
                            },
                            // {
                            //   label: '学校编号',
                            //   elements: {
                            //     eType: 'input',
                            //     name: 'schoolAccount'
                            //   }
                            // },
                            // {
                            //   label: '学校名称',
                            //   elements: {
                            //     eType: 'input',
                            //     name: 'schoolName'
                            //   }
                            // },
                            {
                              label: '联系手机',
                              elements: {
                                eType: 'input',
                                name: 'phoneNumber'
                              }
                            },
                          ]
                        },
                        table: {
                          checkboxType: 'radio',
                          templates: [
                            {
                              id: 'tSchoolVerifyIn',
                              content: '[[# if (d.teacher.school.verify === \'{{ VerifyStatus.ok }}\') { ]]是[[# } else { ]]否[[# } ]]'
                            },
                            {
                              id: 'tSchoolAccount',
                              content: '[[ d.teacher.school.member.account ]]'
                            },
                            {
                              id: 'tSchoolName',
                              content: '[[ d.teacher.school.member.name ]]'
                            },
                            {
                              id: 'tAvatar',
                              content: '[[# if (d.avatar) { ]]<a href="[[ d.avatar ]]" style="cursor: pointer;" target="_blank"><img class="tableImg" src="[[ d.avatar ]]"></a>[[# } ]]'
                            },
                            {
                              id: 'tIsComplemented',
                              content: '[[# if (d.isComplemented) { ]]是[[# } else { ]]否[[# } ]]'
                            },
                            {
                              id: 'tTeacherAddress',
                              content: '[[ d.teacher.address != null ? d.teacher.address : \'\' ]]'
                            },
                          ],
                          config: {
                            elem: '#teacher',
                            url: '/member/teacher/table',
                            cols: [
                              [
                                {field: 'id', title: 'ID', align: 'center', show: false, sort: true, width: 100},
                                {field: 'account', title: '老师账号', align: 'center', sort: true, minWidth: 140},
                                {field: 'name', title: '老师姓名', align: 'center', sort: true, minWidth: 140},
                                {field: 'nickName', title: '老师昵称', align: 'center', show: false, sort: true, minWidth: 140},
                                {field: 'schoolVerifyIn', title: '会员学校', align: 'center', sort: true, width:100, templet: '#tSchoolVerifyIn'},
                                // {field: 'schoolAccount', title: '学校编号', align: 'center', sort: true, minWidth: 140, templet: '#tSchoolAccount'},
                                // {field: 'schoolName', title: '学校名称', align: 'center', sort: true, minWidth: 250, templet: '#tSchoolName'},
                                {field: 'phoneNumber', title: '联系手机', align: 'center', sort: true, width: 140},
                                {field: 'idCard', title: '身份证号', align: 'center', sort: true, width: 180},
                                {field: 'gender', title: '性别', align: 'center', show: false, sort: true, width: 80},
                                {field: 'nation', title: '民族', align: 'center', show: false, sort: true, width: 80},
                                {field: 'email', title: 'Email', align: 'center', show: false, sort: true, minWidth: 100},
                                {field: 'wechat', title: '微信号', align: 'center', show: false, sort: true, minWidth: 100},
                                {field: 'qq', title: 'QQ', align: 'center', show: false, sort: true, minWidth: 100},
                                {field: 'avatar', title: '头像', align: 'center', show: false, sort: true, width: 80, templet: '#tAvatar'},
                                {field: 'isComplemented', title: '完善信息', align: 'center', show: false, sort: true, width: 100, templet: '#tIsComplemented'},
                                {field: 'teacherAddress', title: '地址', align: 'center', show: false, sort: true, minWidth: 120, templet: '#tTeacherAddress'},
                              ]
                            ],
                          }
                        }
                      })
                    }
                  }
                ]
              },
              {
                eType: 'input',
                name: 'teacherId',
                show: false,
              }
            ]
          },
          {
            label: '奖品邮寄地址',
            elements: {
              eType: 'input',
              name: 'address',
              layVerify: 'required'
            }
          },
          {
            label: '学段',
            elements: {
              eType: 'char',
              name: 'period',
              element: '<div class="layui-input-block" style="">{{ matchApply.period }}</div>'
            }
          },
          {
            label: '年级',
            elements: {
              eType: 'select',
              name: 'grade',
              layVerify: 'select',
              option: [
                {value: 'null', label: '请选择'},
                {% if matchApply.period == StudentPeriod.XiaoXue %}
                {value: '1', label: '1'},
                {value: '2', label: '2'},
                {value: '3', label: '3'},
                {value: '4', label: '4'},
                {value: '5', label: '5'},
                {value: '6', label: '6'},
                {% else %}
                {value: '1', label: '1'},
                {value: '2', label: '2'},
                {value: '3', label: '3'},
                {% endif %}
              ]
            }
          },
          {
            label: '照片',
            elements: {
              eType: 'file',
              name: 'photo',
              layVerify: 'phtRqd'
            }
          },
          {
            label: '状态',
            elements: [
              {
                eType: 'char',
                name: 'statusShow',
                element: '<div class="layui-input-block" style="">{{ matchApply.status }}</div>'
              },
              {
                eType: 'input',
                show: false,
                name: 'status',
              }
            ]
          },
          {
            label: '复议理由',
            elements: {
              eType: 'char',
              name: 'reason',
              element: '<div class="layui-input-block" style="">{{ matchApply.reason }}</div>'
            }
          },
        ],
        verify: {
          select: function (value) {
            if (value === '' || value === 'null') return '必填项不能为空'
          },
          // tchRqd: function (value) {
          //   if (value === '') return '指导老师不能为空'
          // },
          phtRqd: function (value) {
            if (value === '') return '照片不能为空'
          }
        }
      }
    })
    $('#ok').on('click', function () {
      $('[name=status]').val('{{ MatchApplyStatus.wait }}')
      $('[lay-filter=myFormSubmit]').trigger('click')
    })
    $('#no').on('click', function () {
      $('[name=status]').val('{{ MatchApplyStatus.draft }}')
      $('[lay-filter=myFormSubmit]').trigger('click')
    })
  })
</script>
{% endblock %}
