{% extends "../layout/layout-member-center.html" %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="/static/css/website/mytable.css">
{% endblock %}

{% block member_center_main %}
<!-- <div id="table-favorite"></div> -->
<div class="layui-card">
  <div class="layui-card-header">我的收藏</div>
  <div class="layui-card-body">
    <div id="myTable"></div>
  </div>
</div>
{% endblock %}

{% block script %}
{{ super() }}
<script src="/static/js/mytable.js"></script>
<script>
  // $(function () {
  //   var table = new MyTable({
  //     el: '#table-favorite',
  //     url: '/member-center/story-favorite/table',
  //     limit: 10,
  //     cols: [
  //       {
  //         title: 'id',
  //         html: function(story) {
  //           return story.id
  //         }
  //       },
  //       {
  //         title: '标题',
  //         html: function(story) {
  //           return '<a href="/story/' + story.id + '">' + story.title + '</a>'
  //         }
  //       },
  //       {
  //         title: '操作',
  //         html: function(story) {
  //           return '<a href="javascript:;" class="btn-unfavorite">取消收藏</a>'
  //         }
  //       }
  //     ],
  //     onFetch: bindHandlers
  //   })

  //   table.fetch()

  //   function bindHandlers(rowDatas) {
  //     $('.btn-unfavorite').on('click', function() {
  //       var $btn = $(this)
  //       $btn.attr('disabled', true)
  //       var id = $(this).parents('tr').data('id')
  //       var url = '/story/' + id + '/'
  //       if (rowDatas[id]._hasCanceled) {
  //         url += 'favorite'
  //       } else {
  //         url += 'unfavorite'
  //       }
  //       ajax({
  //         method: 'POST',
  //         url: url,
  //         data: null,
  //         success: function () {
  //           $btn.attr('disabled', false)
  //           layui.layer.msg('操作成功',{ time: 1000 })
  //           if (rowDatas[id]._hasCanceled) {
  //             $btn.text('取消收藏')
  //             rowDatas[id]._hasCanceled = false
  //           } else {
  //             $btn.text('收藏')
  //             rowDatas[id]._hasCanceled = true
  //           }
  //         },
  //         fail: function () {
  //           $btn.attr('disabled', false)
  //         }
  //       })
  //     })
  //   }

  // })
  $(function () {
    newTable({
      btns: {
        items: [
          // 'setCols'
        ]
      },
      search: {
        'class': 'selects',
        labelWidth: '100',
        submit: {
          'class': 'layui-btn greenBtn'
        },
        items: [
          {
            label: '标题',
            elements: {
              eType: 'input',
              name: 'title'
            }
          },
        ]
      },
      table: {
        checkboxType: 'none',
        tool: {
          items: [
            {
              layEvent: 'cancel',
              label: '取消收藏',
              event: function (obj, config, render) {
                layer.confirm('您确认要取消收藏吗？', function(index){
                  ajax({
                    method: 'POST',
                    url: '/story/' + obj.data.id + '/unfavorite',
                    success: function () {
                      layer.msg('取消收藏成功', {time: 2000, icon:6})
                      render()
                      layer.close(index)
                    }
                  })
                })
                render(config)
              }
            },
          ]
        },
        templates: [
          {
            id: 'tTitle',
            content: '<a href="/story/[[ d.id ]]" target="_blank" style="cursor: pointer;">[[ d.title ]]</a>'
          },
        ],
        config: {
          elem: '#favorite',
          url: '/member-center/story-favorite/table',
          cols: [
            [
              {field: 'id', title: 'ID', align: 'center', show: false, sort: true, width: 100},
              {width:140, align: 'center', toolbar: '#operation'},
              {field: 'title', title: '标题', align: 'center', sort: true, minWidth: 200, templet: '#tTitle'},
            ]
          ]
        }
      }
    })
  })
</script>
{% endblock %}
