{% extends "../layout/layout-member-center.html" %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="/static/css/website/story-write.css">
<!-- <style>
  .story-block {
    margin: 20px 0;
    border: thin solid #eeeeee;
  }
</style> -->
{% endblock %}


{% block member_center_main %}
<div class="layui-card myCard">
  <div class="layui-card-header">创作故事</div>
  <div class="layui-card-body layui-tab layui-tab-brief">
    <form id="new-story-from" autocomplete="off" class="layui-form">
      <div class="layui-form-item">
        <label class="layui-form-label">题目：</label>
        <div class="layui-input-block">
          <input type="text" name="title" lay-verify="title" autocomplete="off" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">项目：</label>
        <div class="layui-input-block">
          <select name="project" lay-filter="project">
              {% for project in projects %}
              <option value="{{project.value}}">{{project.name}}</option>
              {% endfor %}
          </select>
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">所属分类：</label>
        <div class="layui-input-block">
          <select name="typeId" lay-filter="typeId">
              <option disabled selected>请选择</option>
              {% for type in types %}
              <option value="{{type.id}}">{{type.name}}</option>
              {% endfor %}
          </select>
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">正文：</label>
        <div class="layui-input-block">
          <div id="content"></div>
          <div id="last-block" class="story-block">
            <button type="button" class="block-btn-add-text layui-btn layui-btn-primary">添加文本</button>
            <button type="button" class="block-btn-add-image layui-btn layui-btn-primary">添加图片</button>
          </div>
        </div>
      </div>


      <div>
        <button type="submit" id="btn-save-draft" class="btn-submit layui-btn brownBtn">保存草稿</button>
        <button type="submit" id="btn-post" class="btn-submit layui-btn greenBtn">发布</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block script %}
{{ super() }}
<script>
$(function () {
  var $content = $('#content')

  // 增加文本按钮事件（最后一个块的）
  $('#last-block .block-btn-add-text').on('click', function() {
    layui.layer.prompt({
      formType: 2,
      value: '',
      title: '请输入内容',
      // area: ['90%', '90%'],
      maxlength: 1500
    }, function(value, index, elem){
      $content.append(newTextBlock(value))
      layer.close(index)
    })
  })

  // 增加图片按钮事件（最后一个块的）
  layui.upload.render({
    elem: $('#last-block .block-btn-add-image')[0],
    url: '/upload/',
    done: function(data){
      if(data.error){
        layui.layer.msg('上传失败', { time: 1000 })
      } else {
        layui.layer.prompt({
          formType: 2,
          value: '',
          title: '请输入图片说明（可以为空）',
          // area: ['500px', '150px'],
          maxlength: 1500,
          yes: function(index, $layer){
            value = $layer.find('.layui-layer-input').val()
            $content.append(newImageBlock(data.url, value))
            layer.close(index)
          }
        })
      }
    }
  })

  // 新建一个文本块
  function newTextBlock(text) {
    var str = '<div class="story-block text-block">\n'
            + '  <button type="button" class="block-btn-edit-text layui-btn layui-btn-primary">修改</button>\n'
            + '  <button type="button" class="block-btn-delete layui-btn layui-btn-primary">删除</button>\n'
            + '  <button type="button" class="block-btn-insert layui-btn layui-btn-primary">往上插入</button>\n'
            + '  <button type="button" class="block-btn-moveup layui-btn layui-btn-primary">上移</button>\n'
            + '  <button type="button" class="block-btn-movedown layui-btn layui-btn-primary">下移</button>\n'
            + '  <div class="block-text"><pre>' + text + '</pre></div>\n'
            + '</div>'

    var $block = $(str)
    var $text = $block.find('.block-text pre')

    // 修改按钮事件
    $block.find('.block-btn-edit-text').on('click', function() {
      layui.layer.prompt({
        formType: 2,
        value: $text.text(),
        title: '请输入内容',
        // area: ['90%', '90%'],
        maxlength: 1500
      }, function(value, index, elem){
        $text.text(value)
        layer.close(index)
      })
    })

    // 其他公共按钮事件
    handleCommonEvent($block)

    return $block
  }

  // 新建一个图片块
  function newImageBlock(url, desc) {
    var str = '<div class="story-block image-block">\n'
            + '  <button type="button" class="block-btn-edit-image layui-btn layui-btn-primary">修改图片</button>\n'
            + '  <button type="button" class="block-btn-edit-desc layui-btn layui-btn-primary">修改说明</button>\n'
            + '  <button type="button" class="block-btn-delete layui-btn layui-btn-primary">删除</button>\n'
            + '  <button type="button" class="block-btn-insert layui-btn layui-btn-primary">往上插入</button>\n'
            + '  <button type="button" class="block-btn-moveup layui-btn layui-btn-primary">上移</button>\n'
            + '  <button type="button" class="block-btn-movedown layui-btn layui-btn-primary">下移</button>\n'
            + '  <div class="block-img"><img src="' + url + '" class="form-img"></div>\n'
            + '  <div class="block-desc"><pre>' + desc + '</pre></div>\n'
            + '</div>'

    var $block = $(str)
    var $img = $block.find('.block-img img')
    var $desc = $block.find('.block-desc pre')

    // 修改图片按钮事件
    layui.upload.render({
      elem: $block.find('.block-btn-edit-image')[0],
      url: '/upload/',
      done: function(data){
        if(data.error){
          layui.layer.msg('上传失败', { time: 1000 })
        } else {
          $img.attr('src', data.url)
        }
      }
    })

    // 修改说明按钮事件
    $block.find('.block-btn-edit-desc').on('click', function() {
      layui.layer.prompt({
        formType: 2,
        value: $desc.text(),
        title: '请输入内容',
        // area: ['90%', '90%'],
        maxlength: 1500
      }, function(value, index, elem){
        $desc.text(value)
        layer.close(index)
      })
    })

    // 其他公共按钮事件
    handleCommonEvent($block)

    return $block
  }


  // 新建一个空块
  function newEmptyBlock(url, desc) {
    var str = '<div class="story-block empty-block">\n'
            + '  <button type="button" class="block-btn-add-text layui-btn layui-btn-primary">添加文本</button>\n'
            + '  <button type="button" class="block-btn-add-image layui-btn layui-btn-primary">添加图片</button>\n'
            + '  <button type="button" class="block-btn-delete layui-btn layui-btn-primary">删除</button>\n'
            + '  <button type="button" class="block-btn-insert layui-btn layui-btn-primary">往上插入</button>\n'
            + '  <button type="button" class="block-btn-moveup layui-btn layui-btn-primary">上移</button>\n'
            + '  <button type="button" class="block-btn-movedown layui-btn layui-btn-primary">下移</button>\n'
            + '</div>'

    var $block = $(str)

    // 增加文本按钮事件
    $block.find('.block-btn-add-text').on('click', function() {
      layui.layer.prompt({
        formType: 2,
        value: '',
        title: '请输入内容',
        // area: ['full', 'full'],
        maxlength: 1500
      }, function(value, index, elem){
        newTextBlock(value).insertBefore($block)
        $block.remove()
        layer.close(index)
      })
    })

    // 增加图片按钮事件
    layui.upload.render({
      elem: $block.find('.block-btn-add-image')[0],
      url: '/upload/',
      done: function(data){
        if(data.error){
          layui.layer.msg('上传失败', { time: 1000 })
        } else {
          layui.layer.prompt({
            formType: 2,
            value: '',
            title: '请输入图片说明（可以为空）',
            // area: ['90%', '90%'],
            maxlength: 1500
          }, function(value, index, elem){
            newImageBlock(data.url, value).insertBefore($block)
            $block.remove()
            layer.close(index)
          })
        }
      }
    })

    // 其他公共按钮事件
    handleCommonEvent($block)

    return $block
  }


  // 处理公共按钮事件
  function handleCommonEvent($block) {
    // 删除按钮事件
    $block.find('.block-btn-delete').on('click', function() {
      $block.remove()
    })

    // 向上插入按钮事件
    $block.find('.block-btn-insert').on('click', function() {
      newEmptyBlock().insertBefore($block)
    })

    // 上移按钮事件
    $block.find('.block-btn-moveup').on('click', function() {
      $block.insertBefore($block.prev())
    })

    // 下移按钮事件
    $block.find('.block-btn-movedown').on('click', function() {
      $block.insertAfter($block.next())
    })
  }


  var isDraft = false
  $('#btn-save-draft').on('click', function() {
    isDraft = true
  })

  // 表单提交
  $('#new-story-from').on('submit', function(e) {
    if (e.target !== this) {
      return true
    }
    e.preventDefault()

    var data = getFormData('#new-story-from')
    data.content = []
    data.isDraft = isDraft

    var $storyBlocks = $content.find('.story-block').not('.empty-block')

    for (var i = 0; i < $storyBlocks.length; i++) {
      var $block = $($storyBlocks[i])
      if ($block.hasClass('text-block')) {
        data.content.push({
          type: 'text',
          text: $block.find('.block-text pre').text()
        })
      } else if($block.hasClass('image-block')) {
        data.content.push({
          type: 'image',
          url: $block.find('.block-img img').attr('src'),
          desc: $block.find('.block-desc pre').text()
        })
      }
    }

    $('.btn-submit').attr('disabled', true)
    ajax({
      method: 'POST',
      url: '/member-center/story',
      data: JSON.stringify(data),
      success: function () {
        $('.btn-submit').attr('disabled', false)
        layui.layer.msg('操作成功',{ time: 1000 })
        window.setTimeout(function () {
          // location.reload()
          // location.href = '/member-center/story'
          go('/member-center/story')
        }, 1100)
      },
      fail: function () {
        $('.btn-submit').attr('disabled', false)
      }
    })
  })

})
</script>
{% endblock %}
